[2014-11-14 02:00] underwoo opened #9 "diag_manager_nml::do_diag_field_log fails"
When setting do_diag_field_log == .true., the model will print a log or lines:

Module|Field|Long Name|Units|Number of Axis|Time Axis|Missing Value|Min Value|Max Value|AXES LIST

and will then fail with the error:

FATAL from PE   486: diag_axis_mod::get_diag_axis_name: Illegal value for axis_id used (value  0).

[2014-11-19 18:31] #9 closed, assigned to nobody

[2015-08-06 15:56] nicjhan opened #17 "Ensemble manager interface is difficult to use"
The return value from (FMS ensemble interface) get_ensemble_size() is not complete until ensemble_pelist_setup() has been called. It will return bad values. A check for this would be good as it has caused problems in the past.

[2015-08-12 21:26] adcroft opened #18 "Warning about argument aliasing in fms_io.F90"
It is only a warning but nevertheless I think it is bad practice to alias arguments with conflicting intents. The compiler could legitimately do exactly the wrong thing and overwrite file_out before reading file_in.

[code]

[2015-08-12 22:47] adcroft commented on #18
I should have said I was trying commit 03b40242f003b04b4225a7884aeb15d3d7407f83 on branch user/z1l/dev but I see this line in the tagged code too.

[2016-07-13 10:31] nicjhan opened #22 "Axes attribute initialisation"
Axes%num_attributes is not initialised. Since it can take any value this can cause problems such as array bounds overruns.

[2016-07-13 13:08] nicjhan commented on #22
Example failure output:

https://climate-cms.nci.org.au/jenkins/job/mom-ocean.org/job/MOM6_run/build=DEBUG,compiler=gnu,experiment=ocean_only-benchmark,memory_type=dynamic/28/console

[2016-07-13 13:11] underwoo commented on #22
Thank you for reporting this. We will get it fixed and update the dev/master branch.

[2016-09-04 13:12] nicjhan opened #25 "write_record() sets IO stack size even when not needed"
The mpp_io_stack is used by write_record() as scratch space when writing a diagnostic with non-standard data packing. However the mpp_io_stack is increased to be the same size as the data even when no packing is used.

This results in large unnecessary memory usage. For example I recently had a case where the mpp_io_stack was being increased to 200 Mb even though it was not needed. In some cases t

[2016-11-04 04:32] nicjhan opened #27 "FMS does not allow more that 1024 diagnostic files"
The diag_manager_nml has a max_files options however once this is over 1024 it has no effect. This is because the maximum number of netcdf files is hard-coded in mpp/include/mpp_io_misc.inc:42 to 1024.

When doing MOM6 diagnostic testing we currently write each diagnostic to a separate file. We have reached this limit.

If we write many diags to the same file then we exceed MAX_FIELDS_PER_FILE whi

[2016-11-04 17:47] underwoo commented on #27
Thank you for reporting this.  We have started an internal discussion to see how/if we will address this.

[2017-01-31 17:58] #25 closed

[2017-01-31 17:58] #27 closed

[2017-03-09 04:31] nicjhan opened #28 "mpp_set_current_pelist() does not work for size(pelist) == 1"
This means, for example, that one cannot run a two member ensemble on 2 cpus.

[2017-06-17 10:25] marshallward opened #30 "Replace `#include <mpif.h>` with `use mpi` on default platforms"
Some hiccups on our system's wrapper scripts revealed that FMS models are still doing `#include <mpif.h>` to import the MPI symbols, even though the standard recommends the module (`use mpi`).

Currently only the `sgi_mipspro` flag enables `use mpi`.  The default is to use the CPP `#include` statement.

----

To be annoyingly pedantic (sorry!), here are some quotes from the MPI 3.1 standard.

p605

[2017-07-24 05:29] nichannah opened #32 "mpp_do_global_field does not appear to check for masked procs"
I'm surprised that this hasn't come up before, maybe there's something unusual about my setup. I'm doing processor masking on a 1 degree config and getting segfaults within FMS on this line of code:

https://github.com/NOAA-GFDL/FMS/blob/master/mpp/include/mpp_do_global_field.h#L146

There is no check in this code to see whether from_pe is NULL_PE (-3), i.e. it may have been masked when setting up

[2017-09-27 13:49] adcroft opened #41 "Dummy argument for CT_data_override_* should be intent(inout)"
This involves code on head of branch: coupler_type_reform_rwh (@Hallberg-NOAA)

Calls to `data_override()` from `CT_data_override_2d()` and `CT_data_override_3d()` are updating values inside a dummy argument (`var`) that has `intent(in)`.

mpiifort on NCEP's wcoss platform reports:
[code]

Solution is the dummy argument `var` should have `intent(inout)`.

Relevent code:
https://github.com/NOAA-GFD

[2017-10-19 17:19] mathomp4 opened #42 "Loosen F2000 restrictions"
Hello all. I currently maintain the FMS instance inside of the GEOS model here at Goddard.  While we have some plans to perhaps just use your Github as a submodule, for now it's sort of walled off and merged into our base.

But, until that point, I did have a request from my work with FMS. It would be to let all compilers be F2000 compliant. At present `include/fms_platform.h` only allows Intel as

[2018-01-29 15:37] #17 closed

[2018-01-29 15:38] underwoo commented on #18
@adcroft is this still an issue? (Not sure why I hadn't noticed this before).

[2018-01-29 15:41] underwoo commented on #22
#23 merged.

[2018-01-29 15:41] #22 closed

[2018-01-29 15:46] underwoo commented on #28
Code update in 55d2c15e is in master.

[2018-01-29 15:46] #28 closed

[2018-01-29 17:38] underwoo commented on #30
@marshallward apologies for missing this until now.  I have taken your suggestion into our internal issue tracker.  We will let you know of our decision to switch to `use mpi` instead of `#include <mpif.h>` in Fortran sources.

[2018-01-29 17:48] underwoo commented on #41
The commit 9ebe1da3 has been merged into master 9f56841d

[2018-01-29 17:48] #41 closed

[2018-01-29 17:54] underwoo commented on #32
@nicjhan I see the mom-ocean/MOM5#183 issue was closed.  Should this issue also be closed?

[2018-01-29 17:57] underwoo commented on #42
@mathomp4, thank you for the request.  I've been slaking in my job at looking at the github issues.  I have taken this request into an internal discussion (NOAA policies make it difficult for many of our developers to participate at the moment).  When we have a decision, I will let you know.

[2018-01-29 20:28] mathomp4 commented on #42
@underwoo Thanks. Frankly the "destroy all Cray Pointers" would be first on my list as it means NAG Fortran absolutely cannot build FMS. (Not sure if it has an issue, but I know I've talked to Ray Menzel about it in the past.)

[2018-06-13 02:37] aidanheerdegen commented on #32
Only if you patched `cpp_do_global_field.h` with @nicjhan's commit I guess?

https://github.com/mom-ocean/MOM5/commit/4745c52aeb8bfb702635113d4e724d12bf9c67bd

We (Aus contingent that seem to be de-factor supporting MOM5 these days) are planning to move to a model where we use FMS directly (either CMake or `git submodule`) so hopefully we'll be firing off pull requests for stuff like this.

[2018-07-11 22:12] underwoo commented on #32
We have taken the patch you mentioned (mom-ocean/MOM5@4745c52) into our internal repository for review and testing.  We are targeting this to be applied in our next release (due out soon).

[2018-09-13 07:49] marshallward opened #51 "`mpp_sum` default length for vectors"
This might be more of a feature request or a question, rather than an issue, but we noticed that when calling `mpp_sum` for a vector, the `length` argument is required.  Something like this:
[code]
But it seems that `length` is almost always going to equal the size of the first argument.  If that's correct (which is my question), would it be possible to have `length` default to the variable length

[2018-09-13 13:12] Zhi-Liang commented on #51
Hi Marshall,

The length argument is there for many years and I do not remember why it is there. I also can not think a case that requires the length to be different from size(data). I agree we may try to remove the argument.

Zhi

[2018-09-13 14:19] StephenGriffies opened #52 "some latitudes are zero when section is south of equator"
In

https://github.com/NOAA-GFDL/MOM6-examples/blob/dev/gfdl/ice_ocean_SIS2/OM4_025/diag_table.MOM6

we have two sections (below) that sample MOM fields completely south of the equator.  A handful of the southern latitudes have 0 for the latitude values, rather than -71 or the like. So the latitudes are not monotonic and that messes with the plotting, yielding spurious latitude values altogether f

[2018-09-13 20:11] adcroft commented on #52
This problem seems to be a more a problem with mppnccombine. Example data in `/lustre/f1/Alistair.Adcroft/issue.mppnccombine` is causing all sorts of odd results at the cmobine stage: core dumps, changed values, non-monotonic coordinates. @Zhi-Liang

[2018-09-13 20:29] Zhi-Liang commented on #52
I only have permission to access test.nc in /lustre/f1/Alistair.Adcroft/issue.mppnccombine. Could you change the permission of other files?

Thanks,

Zhi

[2018-09-20 15:50] Zhi-Liang commented on #52
Hi,
   Through debugging, I found the issue might be from diag_manager regional output, not from mppnccombine. The file 19000101.ocean_Tropics.nc.0229 and 19000101.ocean_Tropics.nc.0245 both have an extra dimension and field yh_sub02. And yh_sub02 is same as yh_sub01. After I removed yh_sub02 from both files. mppnccombine runs fine and the output looks fine to me. The output is at /work/z1l/issue.

[2018-10-24 14:19] tclune opened #54 "Eliminate remaining uses of Cray pointers"
We (NASA GMAO) would like to build GEOS using the NAG Fortran compiler to perform various aggressive compile-time and runtime checks provided by that compiler.   Unfortunately, NAG does not support Cray pointers, so a workaround is needed for FMS.

Now that there is a firm integration path, I will happy to attempt the necessary changes and then issue a pull-request.

[2019-01-09 15:49] wrongkindofdoctor opened #55 "Error linking MOM6 and FMS libraries when building on Mac with gnu compilers"
I am about 90% of the way to compiling the FMS and MOM6 libraries with gcc 8.2 in debug mode on my personal machine running MacOS Mojave (v 10.14.2). Following the steps on the MOM6 wiki for compiling the ocean-only configuration [here]( https://github.com/NOAA-GFDL/MOM6-examples/wiki/Getting-started), I am able to compile FMS and MOM6, but get the following error during the link stage:

[code]
No

[2019-01-14 21:47] wrongkindofdoctor commented on #55
U

[2019-01-14 21:47] #55 closed

[2019-02-15 19:06] edhartnett opened #56 "any chance of a standard build system?"
It would be great if there was a standard build system, such that I could do ./configure && make.

Do you guys have any interest in such a system?

[2019-02-19 14:54] underwoo commented on #56
We do have interest in a system like that.  We have looked at internally the GNU autotools, cmake and SCONS, and a few others.  In fact, the branch [user/sdu/cmake](https://github.com/NOAA-GFDL/FMS/tree/user/sdu/cmake) is an attempt at using cmake --- the use of a deprecated cmake option in this version is what has kept it from making its way into master.

Since we have little experience with any

[2019-02-19 14:56] underwoo commented on #54
Thank you.  We look forward to your pull request.  However, please note that internally at GFDL we are in the process of a major rewrite of the fms and mpp sections of the FMS code.

[2019-02-19 15:02] tclune commented on #54
Understood.   We ended up with less time to work on this than anticipated.   So other than drafting a rough process on how we would do the conversion, no work has actually happened.   We'll now wait until the major rewrite is completed.

Note: one of our stumbling blocks was that we have no good way to test our changes to FMS.    Our FV3 probably only exercises a small subset of the functionality

[2019-02-19 15:11] underwoo commented on #54
Currently, we run several tests manually using several GFDL model configurations.  This also only tests portions of the FMS code, but enough for us to have confidence it will work for the GFDL models.  We are working on a automated process that will take use of one (or more) of the cloud providers (e.g. Google Compute, Amazon's AWS).  Once complete, we will release the documentation that others ca

[2019-02-19 15:12] edhartnett commented on #56
OK, awesome, thanks!

[2019-02-19 15:40] tclune commented on #54
Great.   Looking forward to the improved testing.

[2019-02-20 14:12] edhartnett commented on #56
I am working with NOAA GSD on the FV3GFS model, which uses your software.

Since there is not a proper build system for your software, the FV3GFS has to include your code as a subdirectory, in order to get it compiling. This may be contrasted with the use of, for example, netCDF, which is installed independently and is used by many packages, none of which have to include the source code.

While us

[2019-02-20 14:56] marshallward commented on #56
@edhartnett the FMS build system is unconventional, but you still end up with largely the same final result, which is a library (`lib_fms.a`) and a folder of `*.mod` module files, which would need to be in an accessible directory (say `/usr/include`) when building your model.  One could still compile and distribute these files independently of the model, much like netCDF or any other library depen

[2019-02-20 18:14] edhartnett commented on #56
@marshallward thanks for taking the time to answer my questions and engage on this issue! ;-)

I am the author and a current maintainer of netcdf's build system, including netcdf-fortran. (And I also maintain several other fortran/C library build systems.)

Yes, fortran is quirky, but autotools can handle it just fine. netcdf-fortran builds everywhere, and deals with fortran module issues. It inst

[2019-02-20 19:56] marshallward commented on #56
I should first say that I am just an FMS user like yourself, so I don't really have any say in how it ought to be done :).  But I'm happy to help if I can.

Also I want to apologise for my characterisation of autotools.  While I have used autoconf a fair bit, I have not really used automake, which is presumably what netCDF and `netcdf-fortran` use, and if it has the capacity to set up Fortran depe

[2019-02-20 20:23] edhartnett commented on #56
Is there anyone from the FMS team reading this? ;-)

[2019-02-20 20:33] underwoo commented on #56
As mentioned earlier, we are interested in some of the build systems.  I have successfully (with some modification of the code) used the GNU autotools to build the FMS library.  It was not adopted in GFDL for the reason specified earlier.  And unfortunately, I am unable (currently) to find the directory where I did that work.  @edhartnett if you are willing to do the work, I will help as much as p

[2019-02-20 21:02] edhartnett commented on #56
OK, let me take a look and see what I can do. If you find your previous attempt, tell me the branch.

[2019-02-21 11:38] edhartnett commented on #56
Well my first question is: are there any instructions for the current build system? How do you currently build this code? Thanks!

[2019-02-21 19:06] underwoo commented on #56
There is some information on how to build full models, but the process is usually captured in a compile script.   I’ll do my best to describe the current build process here.  We use two tools: `list_paths` and `mkmf`.  Both of these are included in the [NOAA-GFDL/mkmf](https://github.com/NOAA-GFDL/mkmf) repository.  `list_paths` is _essentially_ a wrapper to the Linux `find` command to search for

[2019-02-22 12:13] edhartnett commented on #56
OK, thanks, I have tried that and run into some troubles.

I built the makefiles like this:

export PATH=/usr/local/netcdf-c-4.6.2_mpich-3.2/bin/:/home/ed/Downloads/mkmf-19.2.0/bin/:$PATH
[code]

This created the makefiles but when I run make I get these errors:

[code]

OK, so first question: do I modify the Makefile to use mpifort instead of gfortran? Or is there some other way to do that?

[2019-02-22 16:14] underwoo commented on #56
I'm out of the office today, so I'll do my best to reply using my phone. The templates available in the [NOAA-GFDL/mkmf](https://github.com/NOAA-GFDL/mkmf) are a best efforts samples. Settings in the template will need to be modified for your particular system. A good location for instructions to build FMS on general Linux systems can be found in the [NOAA-GFDL/MOM6-examples](https://github.com/NO

[2019-02-22 16:17] edhartnett commented on #56
Awesome, thanks I will take a look!

[2019-02-22 18:54] edhartnett commented on #56
OK I have made some modifications to my template file to try and get it to work.

Currently I am seeing the following when I do make. Are these warnings expected or am I doing something wrong?

[code]

[2019-02-23 13:10] edhartnett opened #57 "mkmf build failing in various ways..."
I am trying to get the mkmf build working. I have read all the documentation I could find, as well as the wiki, but no luck

Here's one of the problems:

[code]

Seems to not be finding netcdf.h, though the include directories are provided on the command line...

[2019-02-23 13:11] edhartnett opened #58 "mkmf build having trouble with MPI functions..."
I am getting this error with my mkmf build:

./mpp/include/mpp_alltoall_nocomm.h:62:25-25:

 subroutine MPP_ALLTOALLW_(sbuf, ssize, sdispl, stype, &
                         1
Error: Procedure ‘mpp_alltoallw_’ at (1) is already defined at (2)
./mpp/include/mpp_alltoall_nocomm.h:62:25-25:

 subroutine MPP_ALLTOALLW_(sbuf, ssize, sdispl, stype, &
                         1
[code]

Any idea what migh

[2019-02-23 13:12] edhartnett opened #59 "mkmf build error: cannot have deferred shape..."
I am getting lots of these errors with the mkmf build I am trying:

.```
/mpp/include/mpp_alltoall_nocomm.h:62:25-25:

 subroutine MPP_ALLTOALLW_(sbuf, ssize, sdispl, stype, &
                         1
Error: Procedure ‘mpp_alltoallw_’ at (1) is already defined at (2)
./mpp/include/mpp_alltoall_nocomm.h:62:25-25:

 subroutine MPP_ALLTOALLW_(sbuf, ssize, sdispl, stype, &
                         1

[2019-02-23 13:18] edhartnett commented on #56
I have been trying to use the mkmf build system. And I will continue to hammer away at it to see if I can get a working build.

It's pretty amazing to me that anyone could think mkmf is a good idea.

You don't try to write your own fortran compiler for the project, similarly you should not attempt to write your own build system tools, and for the exact same reason: you will never equal the capabil

[2019-02-23 17:00] underwoo commented on #58
What was the `mkmf` command you used to create the Makefiles?

[2019-02-23 17:22] edhartnett commented on #58
mkmf -c '-DNDEBUG' -I /usr/local/netcdf-c-4.6.2/include -t \
/home/ed/Downloads/mkmf-19.2.0/templates/linux-gnu.mk -p libFMS.a path_names

[2019-02-23 18:13] underwoo commented on #56
`mkmf` began life around March 1999.  I'm not sure what Fortran support was available in other build systems at that time, but as there [aren't may now](http://fortranwiki.org/fortran/show/Build+tools), my guess is there were even fewer then.  I don't know when autoconf first had support for Fortran.

Since `mkmf` is what GFDL had from 1999, it has continued as it is what the GFDL developers know

[2019-02-23 18:19] underwoo commented on #58
Try adding `-Duse_libMPI -Duse_netCDF` as well to the `-c` option.  I think with your options you are attempting to build a configuration we do not test (and likely don't support anymore).

[2019-02-23 18:53] edhartnett commented on #56
I'm sorry to sound negative.

I have a build system for you now that is pretty complete, I believe, but it is failing just like the mkmf build is. So something about how I am building is not working.

If I could get the mkmf build working one time, I will learn the secret sauce and will encode it into the standard build system.

[2019-02-23 18:56] edhartnett commented on #58
OK, that was the magic ingredient! Now the build completes successfully and builds libFMS.a.

Thanks for the help!!

[2019-02-23 18:56] #58 closed

[2019-02-25 23:50] edhartnett commented on #57
Thanks for the help. I got the mkmf build to work so I will close this issue.

[2019-02-25 23:50] #57 closed

[2019-02-25 23:50] edhartnett commented on #59
This was solved by setting use_libMPI. Thanks for the help!

[2019-02-25 23:50] #59 closed

[2019-02-26 14:19] edhartnett commented on #54
I have just put up a PR with an autotools based build system for FMS.

This supports testing very easily.

I am looking at the existing test code now to see if it can be turned into automated tests.

[2019-02-26 14:21] edhartnett opened #61 "How to run FMS tests?"
I see in various directories what seems to be test code. For example, in mpp there is a program test_mpp.F90.

When I build this and run it I don't get good results. Am I doing something wrong? How do you build this? How do you run the tests?

The mkmf system seems to lump these test files into the build of the library. Is that expected?

[2019-02-26 14:22] edhartnett commented on #56
OK, anyone interested should try out the build system currently up in PR #60 . Comments welcome.

[2019-02-26 15:04] underwoo commented on #61
Within many of the FMS directories, there are test programs.  Unfortunately, the documentation on how to run these is lacking (completely missing for some).  Internally at GFDL, we are working on how to run these tests automatically as we attempt to move towards a continuous testing model.  The work you did in #60 will help us a lot to automate the build process.  I'll see if I can get some docume

[2019-02-26 15:19] underwoo opened #62 "affinity.c has only one possible return value"
Looking at the `mpp/affinity.c` code, the `get_cpu_affinity` function has two return lines.

[code]
However, when looking at all the possible ways the two `if` statements can be evaluated, there is only one true return value: `first_cpu`.  This should be reduced to only one return statement.

Further evaluation shows the function sets a default value for `first_cpu = -1`, and this should be safe.

[2019-02-26 15:22] edhartnett commented on #61
Just change your test programs to run and return 0 for success, and some other value for a failure. If you can provide me with such a program I can turn it into an automated test in the build system very easily.

Take a look at some of the netcdf-fortran tests, for example https://github.com/Unidata/netcdf-fortran/blob/master/nf_test/f03tst_vars.F

As you can see, the test calls various netcdf lib

[2019-02-26 15:35] edhartnett opened #64 "What should be installed?"
With your mkmf build system, there does not seem to be a "make install" target. In the autotools system, of course there is. ;-)

Right now "make install" installs only the libFMS library (static and shared). It is installed in the lib directory under whatever was provided to the configure script prefix argument. For example:

./configure --prefix=/home/ed/test_fms && make install

will build the

[2019-02-26 17:12] edhartnett opened #65 "Trouble building without MPI"
Is the code expected to compile without MPI?

When I try a gfortran build, without use libMPI defined, then the build fails for me in the mpp directory like this:

[code]

[2019-02-26 17:54] underwoo commented on #65
I think there are some updates that _may_ allow FMS to be build w/o MPI, but in the current master branch, I dont' think so.  We are discussing modifying the build to expect MPI, but with the option to not build w/o MPI.  However, those modifications will not be done (if we decide to do that) until this summer at the earliest.

For now, please compile with MPI.

[2019-02-26 18:00] underwoo commented on #64
We will need most of the *.mod files, and some of the *.h and *.inc.  For this first draft, please install all the *.mod and the two *.h files in the include directory.  We can widdle down the number of *.mod files later if we feel it is too many, or there are some we do not want the external components to call.  (Note, fueled by the work on #60 you have done, we are thinking about ways to better

[2019-02-26 18:16] edhartnett commented on #64
I hope you find the Makefile.am files to be useful in understanding your dependencies.

I will add the install files you requested. It's easy to change from one that's installed to one that is not.

[2019-02-26 18:17] edhartnett commented on #65
OK, I will modify configure to fail without MPI.

[2019-02-26 18:25] edhartnett opened #66 "error building oda_core_ecda.F90, can't find xbt_adjust"
There's one module I can't build, oda_core_ecda.F90.

Where is xbt_adjust?

For now I just have this module commented out of the autotools build.

[code]

[2019-02-26 18:37] underwoo commented on #66
The `oda_core_ecda.F90` is a very special case.  For now ignore that build process.  In a future release, that will be placed in the ocean model component (since that is where it is really needed).

[2019-02-26 18:42] edhartnett commented on #65
OK, this has been fixed in configure. If MPI is not present the configure will fail like this:

[code]

[2019-02-26 23:09] edhartnett commented on #66
OK, will do.

[2019-02-26 23:09] #66 closed

[2019-02-27 13:22] #65 closed

[2019-02-27 13:25] edhartnett opened #67 "is netcdf required for FMS build?"
We have the preprocessor macro use_netCDF, which we are always setting.

Does FMS build without netCDF? Or is netcdf always required?

[2019-02-27 13:30] edhartnett opened #68 "add sample Fortran test to the autotools build"
I will put in a Fortran test in the autotools builds. The tests will simply return 0 (i.e. pass). But that's where you can insert some test code for your library.

To do this I will add a test directory, which will be compiled *after* libFMS, which is the directory where the combined libFMS library is built. The library must be built before the test is run, so the tests must be in their own direct

[2019-02-27 13:32] underwoo commented on #67
This is one of those legacy items that we haven’t dealt with yet. I don’t believe it is possible to run a GFDL model without NetCDF.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-27 13:44] edhartnett commented on #64
For netcdf-fortran we end up with a mod file that contains the entire netcdf F90 API, so the user just has to do use netcdf.

But in your case you have a lot of mod files, is that correct? So the user has to know which mods files to install for the functionality they want?

[2019-02-27 14:03] edhartnett commented on #67
Well why would you ever want to run a model without netCDF? That would be maddness! ;-)

I will change the configure so that, as with MPI, a lack of netCDF will cause configure to stop.

What we are trying to achieve with configure is that it checks everything that can be checked, and finds all potential build problems before they occur. Instead of getting a compiler or linker error, the user shou

[2019-02-27 14:43] edhartnett opened #69 "compilers that upper-case mod file names?"
15 years ago, when I put together the netcdf-fortran build system, there were some fortran compilers that would upper-case mod file names.

In other words, where gfortran produces fms_mod.mod, some compilers would yield FMS_MOD.mod.

This was annoying but there is a way to handle it in the build system. However I would like to avoid it if I can.

I don't know if any modern fortran compilers still

[2019-02-27 14:47] menzel-gfdl commented on #68
Thank you.  I have started working on putting some of our tests and their associated input data into their own directories which can be included in the test_fms directory you have created.  Once I have some ready, I'll put a in a pull request.

[2019-02-27 14:48] underwoo commented on #64
That is correct, many module files (for better or for worse).

We have had several conversations of how to better organize the FMS source, and which of the __many__ modules we would like exposed from the library.  This is something we will address during the FMS/MPP rewrite  (ongoing).

[2019-02-27 15:10] edhartnett commented on #68
OK, much better to start with the first one you have working, instead of getting several working and then telling me. Let's stay in close coordination. As soon as you get a test program running, tell me, and I can put it into the build.

You should also set up a CI system. It takes about 5 minutes and is very useful to ensure that we don't break stuff. I have a CI system (Jenkins) and it is runnin

[2019-02-27 15:13] edhartnett commented on #64
OK, I am putting in some extra stuff to deal with mod files. THey are a bit tricky.

I will mark all of them for install, but if you later decide you only want to install some of them, that's easy too.

[2019-02-27 15:17] edhartnett opened #70 "parallel builds not actually working..."
I had told you that make -j would work on this new build system, but that's not quite true yet, though I hope it will be soon.

Until further notice, don't use make -j, it will not work well.

The issue is that some of the mod files depend on other mod files being built first. I have to record these dependencies in the makefiles before parallel builds will work.

[2019-02-27 15:59] edhartnett opened #71 "monin_obukhov_kernel.F90 names its mod file monin_obukhov_inter.mod"
Here's a note that I just put into monin_obukhov/Makefile.am:

[code]

So this module is not named after its code, and also does not have the "_mod" in the name of the mod file (which I think is fine, but does not match the rest of the code base).

[2019-02-27 17:12] edhartnett commented on #64
I have updated the automake files to properly handle the mod files, including installing all of them.

Also there are some .h and .inc files in a few of the directories (for example, the drifers directory has:

`drifters_compute_k.h drifters_push.h drifters_set_field.h fms_switches.h
`

I am installing all of these, but if you don't want them installed, let me know.

[2019-02-27 21:25] underwoo commented on #68
We do have some tests that run on our internal system using [GitLab-CI](https://about.gitlab.com/product/continuous-integration/).  We will update the `gitlab-ci.yml` file to begin testing with autotools as well.  We also have plans to get a [Travis-CI](https://travis-ci.org/) working so other collaborators can configure their own Travis-CI account to run on their fork.

[2019-02-27 21:29] underwoo commented on #71
Thank you for pointing that out.  It shouldn't matter, but it is something we should address in a future "city" release of the FMS library.  It will be done at that time as it will require modifications to the component source as well.

[2019-02-27 21:33] underwoo commented on #64
Thank you.  We'll leave these files for now.  We need to review the other model component code to ensure someone isn't using them.  We can remove them later if needed.

[2019-02-27 21:59] edhartnett commented on #68
Those are great. I also have my own system that I use personally in my browser (Jenkins). It's very useful.

Anyway, if you can give me some working fortran code to insert I am happy to do so. Just cut and paste it here...

[2019-02-27 22:00] edhartnett commented on #71
Awesome. I will list this issue to be closed with the PR merge.

[2019-02-27 23:06] edhartnett commented on #70
OK, parallel builds are working now, so make -j can be used safely.

It does result in about ~%25 speedup. This percentage will increase as and if you add tests, since they are usually very parallelizable to compile and run.

[2019-03-04 15:42] edhartnett opened #72 "new autotools build does not work on theia..."
For fun I packaged up an FMS dist tarball and tried to build it in theia.

Here's how I tried to build:
`CC=mpiicc FC=mpiifort CPPFLAGS='-I/home/Edward.Hartnett/local/netcdf-4.6.3-development_mpiicc/include -I/home/Edward.Hartnett/local/netcdf-fortran-4.4.5_c_4.6.3-development_mpiifort/include' LDFLAGS='-L/home/Edward.Hartnett/local/netcdf-4.6.3-development_mpiicc/lib -L/home/Edward.Hartnett/local

[2019-03-04 17:37] underwoo commented on #72
Looks like it isn't finding the compiled Fortran module files.  Perhaps the build is placing the modulefiles somewhere other than `-I.`?

[2019-03-04 17:38] underwoo commented on #70
Can this issue be closed now?

[2019-03-04 17:44] edhartnett commented on #70
Like a bunch of others it will be closed when the PR is merged to master, but if you want to close it early we can.

[2019-03-04 19:30] edhartnett commented on #72
This is in mpp.F90, in the mpp directory. If you look at the list of -I arguments, the first is "-I." which will pick up the current directory.

Also these functions are defined in this module, this is the mpp module. I suspect the problem has to do with the code here:

[code]

So there are some ifdefs there, and probably the settings of some flags determines it. Do you have a working set of fotra

[2019-03-04 20:03] underwoo commented on #72
Unfortunately, we haven't built on theia in a long time.  And when we did, we didn't use the mpiifort and mpiicc wrappers (we called `ifort` and `icc` directly with the `-I` and `-L`/`-l` required.

One think I can tell you, is we have three main build configurations:  production, debug, and reproduction.  The production configuration is used by all production runs.  Debug are the non-optimized bu

[2019-03-04 20:40] edhartnett commented on #72
OK, super helpful info, thanks!

Do you always use openmp?

[2019-03-04 21:33] underwoo commented on #72
No, we don’t always compile with openMP.

On Mon, Mar 4, 2019 at 15:40 Ed Hartnett <notifications@github.com> wrote:

--
--
Seth Underwood

S/W Development Process Lead
Modeling Systems Group
GFDL/NOAA/DOC
201 Forrestal Road
Princeton, NJ 08540-6649

(609) 452-5847 Office
(304) 376-9002 Cell
(609) 987-5063 Fax
Seth.Underwood@noaa.gov

[2019-03-04 22:07] edhartnett commented on #72
OK, awesome, this would then be our first configure option. ;-)

We will have --enable-openmp as a configure option. This would test that openmp is available, and set whatever pre-processor macros and flags are indicated.

Then (if possible) we extend the CI build to include the openmp variant as well as the non-openmp build.

[2019-03-05 18:13] underwoo commented on #70
It appears the parallel builds are not functioning fully yet, at least not with the Intel compiler.  I might have a solution.  I need to run the build many more times (as this is intermittently hit).

[2019-03-05 18:24] edhartnett commented on #70
OK, another way to check is to put this in the Makefile.am where you suspect a problem:

[code]

[2019-03-05 19:53] underwoo commented on #70
I'll have an update pushed after the tests finish.  But the solution that appears to solve the problem is to modify the `Makefile.am`s that list mods that are dependent on other mods to use the `.mod` file as the dependency instead of the object file.  For example, the `diag_manager/Makefile.am` (since this is the component that hit the parallel build problem) will become:

[code]

I'm not sure AT

[2019-03-05 19:53] #70 closed

[2019-03-05 20:05] edhartnett commented on #70
The only reason I did not do it that way was to avoid the potential problem of mod names being uppercased, which we have not hit yet apparently. So I think this will be fine.

[2019-03-06 16:50] edhartnett opened #73 "how the build should handle fortran flags (FCFLAGS not FFLAGS)"
Programmers of Fortran packages usually assume that the compiler flags should be set by the build system, but this is a peculiarity of Fortran programmers. Most build systems leave the setting of flags entirely to the user, and this is the wisest course.

In many cases, flags are necessary because programmers are not writing portable Fortran, and this is the case with FMS as well. For example, FMS

[2019-03-06 16:56] edhartnett commented on #72
I am going to close this issue, since it was not my intention to try and get the FMS building where it does not build already - although the new build system does allow just that. But first we should get it working where you already have it working.

Thanks for all the info in this issue, it was very helpful.

[2019-03-06 16:56] #72 closed

[2019-03-06 17:18] edhartnett commented on #72
WRT openmp I have added an option to configure.ac for this, but the option takes no action yet. What happens when we want openmp? Do we set pre-processor flag?

[2019-03-06 17:53] edhartnett commented on #73
OK, I see another aspect of how you are using flags can actually be handled by your CI system.

You have some flags that relate to checking things, for example, here's the flags for gfortran (from https://github.com/NOAA-GFDL/mkmf/blob/master/templates/linux-gnu.mk):

[code]

The flags `-fbounds-check -ffpe-trap=invalid,zero,overflow` can be set in a CI job. Then, these checks are run automaticall

[2019-03-07 12:26] underwoo commented on #73
I have been thinking about how to handle this as well. We do need cray pointers (for now). I think someone is working on a version that doesn’t use cray pointers. Thus I think an option to turn off cray pointers will be sufficient.

As for `-fdefault-real-8` it is something required because many of the variables need to be `kind=8`, we didn’t use explicit kind in the code, and we don’t have all th

[2019-03-07 14:29] edhartnett commented on #73
OK, this is good progress. Once you get the autotools branch merged to master I will put up a PR with the changes to set default fortran flags.

[2019-03-07 14:30] edhartnett commented on #73
A question about default-real-8. Does every fortran program have to use that if any of them do?

For example does this option have to be used with netcdf-fortran as well?

[2019-03-07 15:06] #56 closed

[2019-03-07 15:06] #64 closed

[2019-03-07 15:06] #67 closed

[2019-03-07 15:06] #68 closed

[2019-03-07 15:06] #71 closed

[2019-03-08 14:05] edhartnett opened #77 "questions about openmp build"
How does building with openmp work?

Do we just provide the -openmp flag to the Fortran compiler?

Are there any pre-processor macros that need to be set?

[2019-03-08 14:13] underwoo commented on #77
We just add the `-openmp` flag to the compile flags.

[2019-03-08 14:22] edhartnett opened #78 "configure should detect lack of mpif.h"
Currently, if I forget to set FC to mpifort, then the build system tries to use gfortran, and fails in drifters_comm.F90, because it can't find mpif.h.

This should be detected by configure, so the user gets a nice error message instead of a rude compile failure.

[2019-03-08 14:26] edhartnett commented on #73
BTW let me call your attention to the fact that autotools uses FFLAGS for F77 code, and FCFLAGS for modern Fortran (i.e. F90+).

So for FMS you will always want to be thinking FCFLAGS, not FFLAGS. Using FFLAGS will result in confusion, dismay, alarm, and disgust. I have changed the title of this ticket to prominently remind all that FCFLAGS is what we want to be using.

[2019-03-08 14:28] underwoo commented on #78
Have you considered using an [m4 macro](
http://www.gnu.org/software/autoconf-archive/ax_mpi.html
) to have `configure` figure out how to build with MPI?

On Fri, Mar 8, 2019 at 09:22 Ed Hartnett <notifications@github.com> wrote:

--
--
Seth Underwood

S/W Development Process Lead
Modeling Systems Group
GFDL/NOAA/DOC
201 Forrestal Road
Princeton, NJ 08540-6649

(609) 452-5847 Office
(304) 376-9002

[2019-03-08 14:31] underwoo commented on #73
Thank you for that but of information. I think I'll update the `README.md`
with your build information next week and I'll include this in the mail as
well.

On Fri, Mar 8, 2019 at 09:26 Ed Hartnett <notifications@github.com> wrote:

--
--
Seth Underwood

S/W Development Process Lead
Modeling Systems Group
GFDL/NOAA/DOC
201 Forrestal Road
Princeton, NJ 08540-6649

(609) 452-5847 Office
(304) 376-90

[2019-03-08 14:43] edhartnett commented on #73
Good! Also you may feel free to use my email: edward.hartnett@noaa.gov. I'm happy to answer questions or help out with the build or with netCDF questions.

[2019-03-08 14:49] edhartnett commented on #78
This goes too far, in my opinion.

The user must be in charge of setting the compiler. There's just too much potential for confusion, since machines might easily have multiple MPI compilers. (Mine does.)

So what I want to do is test that whatever flags the user provided will successfully build FMS. If they forget to set FC and configure errors out and reminds them, that's not a big deal and is ea

[2019-03-12 21:29] menzel-gfdl commented on #61
I've taken a shot at getting [one of our unit tests running (but not yet passing) with autotools.](https://github.com/menzel-gfdl/FMS/commit/3268d2b9e4fbd18af4234d1cedd6713b0a185bb3) @underwoo, I've basically just taken the work you did to get the diag_manager unit tests running with [bats](https://github.com/sstephenson/bats), and put the test program and all the necessary input data into a subdi

[2019-03-13 09:50] edhartnett commented on #61
OK I have taken a look at your branch. Not sure what bats is or why you would want to use it, and it's not clear why you are installing it under FMS. Seems that bats should be it's own system. For example, it has an install script. Are you planning on installing your test system somewhere?

The way autotools tests work is very simple. Test programs are built and run, and if they return 0 they have

[2019-03-13 13:29] menzel-gfdl commented on #61
Thank you for looking over my branch.  The goal of this is not to increase complexity, but simply to get our current unit tests running.  Unfortunately, I do not think the built-in autotools way of testing will be sufficient for our unit tests (at least with how they are written now) because:

- All tests for a module use the same test program, but require different configurations (i.e., sets of n

[2019-03-13 21:12] edhartnett commented on #61
I believe autotools can handle both of those cases.

In terms of running the programs, can it be done from the command line? If so, we write a test script(s). This is how ncgen/ncdump are tested in netcdf.

We can also handle expected errors. In other words, we can run a command and require that it fails with a certain error code.

[2019-03-14 20:03] edhartnett commented on #61
@menzel-gfdl can you put up a PR with just the F90 test code and a namelist and command line that runs one variant of the test? Then I will wire it into the build system for you...

[2019-03-19 22:15] menzel-gfdl commented on #61
@edhartnett I put in [this pull request](https://github.com/NetCDF-World-Domination-Council/FMS/pull/4).
Please look in the directory test_fms/data_override.

[2019-04-02 16:02] wrongkindofdoctor opened #83 "Request: add check that '.res.' is already present in restart file name to fms2_io"
@menzel-gfdl
MOM6 already includes the **.res.** in the base restart file name. Since **fms2_io::open_file** routine calls a routine that automatically appends **.res.** to the file name when `is_restart = .true.`, this means that **MOM_restart** has to incorporate several additional restart name string checks and additional variables to hold two versions of the restart file name: one with **.res.

[2019-04-02 17:12] #83 closed

[2019-04-02 17:13] wrongkindofdoctor commented on #83
Closed and moved to: https://github.com/menzel-gfdl/FMS/issues/1

[2019-04-08 18:12] hguo-gfdl opened #87 "problematic regional diagnostics for certain ocean layout"
I used MOM6 tagged "om4/v1.0.1", and dumped regional oceanic diagnostics in Carribean Windward Passage.  The variables: "vmo" (Ocean Mass Y Transport) looked unreasonable when I used certain ocean layout, for example,
ocn ranks="4671" threads="1"   layout = "90,72"  io_layout = "1,4" mask_table="mask_table.1809.90x72".

The untarred history file is
gfdl:/archive/oar.gfdl.cmip6/CM4/warsaw_201710_om

[2019-04-08 21:16] underwoo commented on #87
More information from @hguo-gfdl.  Some is included above, but this helps clarify the issue:

## Email from @hguo-gfdl
I ran into problematic regional output "vmo" (Ocean Mass Y Transport) along Carribean Windward Passage after changing ocean layout. Originally I used around 8100 PEs as below,

[code]

After reducing to 6408 PEs,  "vmo" at Windward Passage reached extremely large value, which was

[2019-04-08 21:18] underwoo commented on #87
@hguo-gfdl could you please point me to a file that has the correct (or what looks correct) for the `vmo` variable?  I grabbed two random files from `/archive/oar.gfdl.cmip6/CM4/warsaw_201710_om4_v1.0.1/CM4_piControl_C/gfdl.ncrc4-intel16-prod-openmp/history` and see no difference.  It would be easier if you could point me to two versions of the variable: one with the expected output, and the one w

[2019-04-09 18:05] hguo-gfdl commented on #87
@underwoo  The expected output:
gfdl:/archive/oar.gfdl.cmip6/CM4/warsaw_201710_om4_v1.0.1/CM4_piControl_C/gfdl.ncrc4-intel16-prod-openmp/history/tmp_293/02930101.ocean_Windward_Passage.nc

The bad output:
gfdl:/archive/oar.gfdl.cmip6/CM4/warsaw_201710_om4_v1.0.1/CM4_piControl_C/gfdl.ncrc4-intel16-prod-openmp/history/tmp_650/06500101.ocean_Windward_Passage.nc

[2019-04-09 18:08] underwoo commented on #87
@hguo-gfdl, please change the permissions on those files so I can read
them.  Thank you.
--
Seth Underwood

S/W Development Process Lead
Modeling Systems Group
GFDL/NOAA/DOC
201 Forrestal Road
Princeton, NJ 08540-6649

(609) 452-5847 Office
(304) 376-9002 Cell
(609) 987-5063 Fax
Seth.Underwood@noaa.gov

On Tue, Apr 9, 2019 at 2:05 PM hguo-gfdl <notifications@github.com> wrote:

[2019-04-09 18:24] hguo-gfdl commented on #87
@underwoo  I just added read permission on these files. Please let me know if there are any problems.

Thanks,

[2019-04-12 14:02] underwoo commented on #72
Sorry, I missed your question.  We simply just add the `-fopenmp` (for gnu or -qopenmp for Intel).

[2019-04-12 14:03] underwoo opened #90 "Travis-CI trusty openMPI missing mpi_comm_create_group"
The openMPI library used in the trusty travis-ci image does not have `mpi_comm_create_group`, which was added to libFMS in the latest release.  The `.travis.yml` file needs to be updated to either use mpich2, or to a newer (xenial) image.

[2019-04-12 14:07] underwoo opened #91 "field_manager/libfm_util.o not included in autotools built library"
The object `field_manager/libfm_util.o` is not included in the libFMS library built by autotools.

[2019-04-12 14:10] underwoo opened #92 "autotools libFMS not used when `make check`ing"
The built libFMS library is not currently used when running `make check`.  Although the initial example test is just an example, it would be good if it did link in the libFMS library.

[2019-04-12 15:19] underwoo commented on #87
@hguo-gfdl this might be related to another issue: #52.  This issue points to an inconsistency in how `diag_manager_mod` names axes.  I will need to run a test case, both to see if I can reproduce the error and what information is in the uncombined history files.  Hopefully I will have some information next week.

[2019-04-12 15:49] marshallward commented on #90
BTW my apologies to the team for slipping this in, I had intended to discuss it more but we ended up working on unrelated issues and I forgot to raise it again.

[2019-04-12 15:58] marshallward commented on #90
For the sake of the ticket, I'll document the issue here.  `MPI_Comm_create_group` was used for its ability to create subcommunicators that only span a subset of ranks.  Otherwise one must completely divide the ranks into separate subcommunicators.  It was not an essential change, but it felt like the "correct" decision.

The issue is that this is am MPI 3 function, and OpenMPI 1.6.x does not supp

[2019-04-16 14:07] underwoo commented on #87
@hguo-gfdl I was able to reproduce the issue, and it does appear to be a diag_manager issue, more than likely this is not related to what we see in #52.

In your case, with this layout, diag_manager produces two files (since this is a region).  One of those files has the variables `volcello`, `thetao` and `so`.  The other file has variable `vmo` and `vo`.  Uncombined, the variable outputs look cor

[2019-04-23 15:55] underwoo commented on #87
We think we have discovered the issue, and it is something we do not know how to fix at this time.  We believe what is happening is that at different resolutions, some of the MPI processes may not have access to all the same variables within small regions due to different grids used in the model.  The regional output process writes a file per MPI process, and simply _dumps_ the data to the file.

[2019-04-23 15:55] #87 closed

[2019-06-18 19:04] ashao opened #93 "diag_manager: Regional subsetting for u-point variables does not seem to be using correct grid"
The diag_manager may not be using the correct domain when trying to find the array indices for the regional subsetting. This problem can be demonstrated using the Pacific_undercurrent `umo` diagnostic in the OM4_025 test case. Essentially what seems to be happening is that the vector of longitudes at the corner (q) points (which are ostensibly placeholders and not representative of the tripolar gr

[2019-06-18 19:31] nikizadehgfdl commented on #93
@underwoo is this the bug being worked at by the MS?

[2019-06-19 16:00] underwoo commented on #93
@nikizadehgfdl we are looking at this issue now to see if/how we can resolve this.  If you are asking if this is related to the non-combined regional output files not containing the same set of variables/dimensions, I do not have an answer to that ATT.  We may be able to determine that as we investigate this issue further.

[2019-06-19 16:16] ashao commented on #93
@underwoo I was thinking about this problem more and I'm not entirely sure that there's a fully generalizable solution short of regridding/remapping. Perhaps the 'correct' way forward is that instead of specifying the lat/lon of the requested region, the global i,j indices of the requested axes are indicated. This makes it more annoying to add a regionally diagnostic because the user has to look u

[2019-06-20 02:19] StephenGriffies commented on #93
FYI @ashao : when I built the diag table for OM4_p25 and OM4_p5, I tweaked the lat/lon values according to what I found when running the model and there the land/sea masks were located.  I am fairly confident that one needs to do a similar iterative approach for each topography/grid configuration whereby one looks at land/sea masks carefully and tweaks the lat/lon values in the diag table accordin

[2019-06-21 17:34] ashao commented on #93
@StephenGriffies Specifying the `i,j` indices directly avoids needing to iterative process that you had to do. For the Equatorial Undercurrent, instead of
[code]
you would specify the following
[code]
The latter means you wouldn't have guess and check what the diagnostic manager is doing and make it unambiguous that the diag table is requesting a rectangular subset of the domain.

#### Example cod

[2019-06-21 22:37] StephenGriffies commented on #93
Yes, this is a good point.  Very useful Python code @ashao .  Many thanks!

[2019-07-08 19:18] raphaeldussin opened #96 "preprocessor directive __APPLE__ is not obtained from system"
contrary to C code, __APPLE__ is not defined in Fortran and used here:

https://github.com/NOAA-GFDL/FMS/blob/db20e2577cce4659ec4be7e9498895ef842fda3a/memutils/memutils.F90#L302

this requires the user to pass explicitly the cpp at compile time (e.g. ' -D__APPLE__')

[2019-07-08 21:56] underwoo commented on #96
It is defined by gfortran, at least version 9.1.0.

[code]

I don't have the ability to check if ifort or PGI Fortran ATT.  When I can I will check those as well.

[2019-07-09 00:41] marshallward commented on #96
Hi Seth, we also did that test and got the same result, but for some reason `__APPLE__` is not being set in the preprocessed+compiled Fortran source code.  It would be good if you could independently test that out.

Passing the file explicitly through `cpp` does set `__APPLE__`, however.

This issue does point to a possible issue, namely that GFortran switched from explicitly running `cpp` to invo

[2019-07-09 13:47] raphaeldussin commented on #96
+1 with @marshallward

[code]

Using gfortran 8.2.0

[2019-07-09 15:22] underwoo commented on #96
I have confirmed this is a problem.  I am adding something the OSX `mkmf` template, and will have something in the autoconf build soon.

[2019-07-09 15:26] raphaeldussin commented on #96
@underwoo 👍 thanks a lot!!

[2019-07-15 17:10] #92 closed

[2019-07-15 17:10] #91 closed

[2019-07-15 17:10] #90 closed

[2019-07-22 00:44] edhartnett opened #98 "can we run some of the tests in the mpp directory?"
My work is taking me around to FMS again! ;-) I will need to do some work on the IO code for NOAA to try using PIO.

Before I start, I would love to get some automatic tests for the code in the mpp directory. I notice there are a lot of fortran test codes in the directory. Can we turn these on as tests?

[2019-07-22 15:15] underwoo commented on #98
We are in the process of pulling all the tests into their own files, and configuring the autotools build to run them. That work is nearing completion.

[2019-07-22 15:27] marshallward commented on #98
BTW I recently learned that my alltoallw changes are failing some of the MPP tests for the complex number C4 and C8 overloads (test_mpp_pset.F90, I think), so I will send a patch soon.

[2019-07-22 15:50] edhartnett commented on #98
@underwoo can you tell me what branch that testing work is taking place on so I can take a look?

Thanks!

[2019-07-23 13:05] uramirez8707 commented on #98
The testing work is in my fork git@github.com:uramirez8707/FMS.git under the branch unit_tests.

The mpp tests are in the directory test_fms/mpp.

[2019-07-23 13:25] edhartnett commented on #98
OK, I am looking at this branch now. Seems like nice work getting these tests in place.

Can you merge these changes soon so that I can start using them?

[2019-07-23 13:44] edhartnett commented on #98
OK, I am happy to see that you guys are writing all these fine tests!  I am happy to see that you guys are moving to a more advanced process, and I am sure these great tests will help a lot. And as travis is already set up for this project, you can start using continuous integration for future PRs.

@uramirez8707 you have correctly set up the automake files for the tests. Nice work! I am very happ

[2019-07-23 16:03] edhartnett commented on #69
OK, apparently this is problem of upper-casing mod names was confined to some old fortran compilers that have disappeared from the scene. I have also taken handing for this out of the netcdf-fortran build system, and no one has complained. ;-)

So I will close this ticket.

[2019-07-23 16:03] #69 closed

[2019-07-23 16:19] edhartnett opened #100 "adding support for PIO to FMS for better I/O performance"
PIO (https://github.com/NCAR/ParallelIO) is a HPC I/O library that has been used in CESM at NCAR, and has recently become an output option for WRF.

PIO allows the same code to use netCDF classic, netCDF-4 parallel, netCDF-4 sequential/compressed, or pnetcdf for input/output, on a file-by-file basis. It also allows designation of an arbitrary number of I/O processors to handle all I/O. It will als

[2019-07-23 20:20] edhartnett opened #101 "QUAD_KIND from fms_platform.h redefined"
fms_platform.h is included a lot by users of FMS. Due to some ifdefs, it generates a warning every time it is used. This can be easily fixed.

[code]

[2019-07-24 03:43] edhartnett commented on #73
I have reviewed this thread and I think I can close it. The new build system is using all flags correctly, and this is being confirmed by the travis CI system (and also my own personal Jenkins instance).

The ideal is to build without any flags being required, so I encourage the FMS team to continue efforts to remove the need for any fortran flags in the code. This may not be something that is eas

[2019-07-24 03:43] #73 closed

[2019-07-24 03:47] edhartnett commented on #77
OK, so this should work fine. If it does not, please let me know and I will take a look.

[2019-07-24 03:47] #77 closed

[2019-07-24 03:48] edhartnett commented on #61
OK, apparently there is a testing effort underway which I hope will soon be merged to master. So I will close this issue. When that testing branch is merged to master I look forward to running those tests! ;-)

[2019-07-24 03:48] #61 closed

[2019-07-25 15:41] edhartnett opened #102 "suggest versioned releases of the FMS package..."
@underwoo , @bensonr, @Zhi-Liang and other FMS code leaders, I suggest that you do a versioned release of this package immediately, and then do them periodically thereafter.

I understand that you also have a larger versioning scheme, which applies to your entire model stack, in which you tag every repo involved to mark the exact software used in a particular model build. This meets the versioning

[2019-07-25 16:11] marshallward commented on #100
Could I suggest that you integrate this into the [with-parallel-netcdf](https://github.com/NOAA-GFDL/FMS/tree/with-parallel-netcdf) branch?  It is working in the ocean cases that we tested, has a proven performance benefit at the ~1500 MPI rank/300 Lustre OST regime, has been written up in a manuscript, and has already been submitted as a PR.  Since (AFAIK) PIO is heavily based on parallel netCDF,

[2019-07-25 16:19] edhartnett commented on #100
@marshallward I am going to examine your branch closely.

However, the way forward is not for me to integrate more code to an unmerged branch, it is to get your branch merged to master and then for me to work with that.

It is not my intention to remove any capability, but to add PIO as another option.

That said, with the PIO/netCDF integration, it is possible for various implementations to share

[2019-07-25 16:23] marshallward commented on #100
I think the issue was an ongoing rewrite of the FMS IO framework (on an internal build, I believe), and there was no simple way to integrate the PR into this version.  But I expect that some FMS folks can explain this better than myself, hopefully they will chime in.

[2019-07-25 16:37] edhartnett commented on #100
Incremental improvement is the way forward. For that we need tests. Once tests are in place, rewrites don't occur - instead refactoring can occur, which is incremental, fast, and tested.

I would like to work on this FMS I/O code. I need to first start by writing tests. Is there some group of FMS programmers with a bunch of changes to the I/O code? Can those changes be merged? Hopefully those chan

[2019-07-26 01:43] edhartnett commented on #100
Here is a diagram about PIO which helps to explain its capabilities:
![I_O_on_Many_ Async](https://user-images.githubusercontent.com/4533212/61919804-7ba30a00-af14-11e9-9c1f-7c63f9f3f911.png)

[2019-07-26 14:19] marshallward commented on #100
Hi @edhartnett sorry for not getting back sooner, I was out all afternoon.  The plan that you've outlined sounds great.

Re: the PIO diagram, FMS has something like an I/O processor, but rather it's a designated MPI rank inside a subdomain of MPI ranks.  For example, every Nth MPI rank could be responsible for the I/O of N MPI ranks over each subdomain, though more general Cartesian divisions are

[2019-07-26 17:23] edwardhartnett commented on #100
Yes, I see what FMS is doing, with the designated I/O ranks. PIO delivers that capability in a general way.

One advantage of PIO is that it will allow pass-through access to all the features added to the netcdf-c library. NF_PIO just becomes another mode flag pass to nf_create(). Anything else the netcdf-c library can do is still available via PIO.

This will include both the netcdf team's zarr e

[2019-07-31 15:32] edwardhartnett commented on #98
@uramirez8707 can we get some tests merged soon? I would like to start working on this code... Thanks!

[2019-07-31 16:27] wrongkindofdoctor commented on #98
@edwardhartnett , our group is waiting for feedback from one of the team members on our new development merge policy. Once I have received the green light, I will work over the next couple of weeks to update the FMS master branch with the latest round of commits into dev/master, and will include the unit tests. I will tag a stable version for external users when I have completed the task, and leav

[2019-08-01 13:23] edwardhartnett commented on #98
OK, thanks for the update.

[2019-08-01 14:18] edwardhartnett commented on #102
Guys, can we do a versioned release of FMS? I can show you how in a few minutes.

Doing versioned releases will not interfere with your home-rolled build and deployment system (i.e. your "workflow"). But it will help external users like myself, and will begin to support the idea of GFDL eventually moving to a more industry-normal way of doing release and deployment.

We could do this today - it ta

[2019-08-01 19:01] wrongkindofdoctor commented on #102
We will be implementing versioned releases of FMS and FMScoupler after we have finished testing the latest round of FMS commits with the supported model configurations.

[2019-08-01 19:09] edwardhartnett commented on #102
OK, awesome. Tell me what version number or string you want to use, and I will put up a PR with the changes to configure to support that.

Also. each time you do a versioned release, you need to update the version info in the shared library build. There are web instructions for how to update this - it is not something you should update without understanding, but it must be updated each release if

[2019-08-07 13:34] thomas-robinson opened #105 "travis CI uses old version of gcc/gfortran"
The version of gcc used by travisCI is old.  It needs to be updated to handle newer fortran features.

[2019-08-07 14:05] thomas-robinson commented on #105
@underwoo is there a way to run an update to [.travis.yml](../blob/master/.travis.yml) without submitting a pull request?

[2019-08-07 14:30] underwoo commented on #105
You can create your own travis-ci.com account and have it run commits on your fork.

[2019-08-07 18:26] #105 closed

[2019-08-08 14:46] #62 closed

[2019-08-08 15:06] wrongkindofdoctor opened #107 "Remove dev/master branch"
master is up-to-date with dev/master via #103 , so dev/master is ready to be deleted. The branch is protected, and the repository owner needs to remove it.

[2019-08-08 18:56] underwoo commented on #107
Done.

[2019-08-08 18:56] #107 closed

[2019-08-12 13:17] thomas-robinson opened #111 "Adding ensemble number to diag_integral.out"
A user requested adding the ensemble number to the end of the diag_integral.out filename to distinguish between ensembles.

file to figure out the radiative imbalance of the model in the past with
single member runs. Now that I have ensembles to play with I'd like to
be able to do the same thing for each ensemble member and see the spread.
I still get a single diag_integral.out file from my runs,

[2019-08-12 14:22] bensonr opened #112 "update affinity code to properly handle cpusets"
Default behavior of slurm has impacted the ability of the affinity handling code to properly place MPI-tasks and OpenMP threads.  Updates are needed to work within the slurm environment that assigns MPI-tasks to groups of processors using cpusets.

Associated source file will be moved to its own directory within FMS and a function to handle affinity will be added.  This will necessitate an issue i

[2019-08-13 16:21] #111 closed

[2019-08-14 14:30] wrongkindofdoctor opened #118 "travis-CI diag_manager test can't finding ensemble_manager.mod in diag_integral bulid"
In PR #117 with new 32-bit compiler flags added to the .travis.yml file, the travis-CI test (https://travis-ci.org/NOAA-GFDL/FMS/jobs/571517159#L1153) fails after building the diag_integral code at line 1153 with the following error:

```Fatal Error: Can't open module file ‘ensemble_manager_mod.mod’ for reading at (1): No such file or directory```

[2019-08-14 15:03] thomas-robinson commented on #118
@wrongkindofdoctor this should be an easy fix.  I'm not sure why this didn't merge correctly.

You need to make drag_integral before coupler.  In your [Makefile.am](https://github.com/wrongkindofdoctor/FMS/blob/user/jml/fix_travis_yml/Makefile.am) move the drag_integral after coupler.  This is correctly done on in master's [Makefile.am](../blob/master/Makefile.am)

[2019-08-14 15:54] uramirez8707 opened #119 "domain_read: answer changes in land with new io"
I am getting answer changes when running with the new io in land because the river restart is not read correctly. I think it is because code is setting every rank as the root pe and is using the same starting and ending index in the read, so they are all reading the same part of the file.

In L322-324 of fms_netcdf_domain_io.F90, when opening the file the code gets the pelist from the *io_domain*

[2019-08-14 15:56] uramirez8707 commented on #119
@wrongkindofdoctor @menzel-gfdl

[2019-08-15 14:30] #118 closed

[2019-08-15 17:32] wrongkindofdoctor commented on #18
Closing this issue since the new IO will eliminate this behavior.

[2019-08-15 17:32] #18 closed

[2019-08-15 17:33] #32 closed

[2019-08-20 19:30] AndrewWittenberg opened #125 "FMS coupler request: blending capability for data_override"
To support a flux-adjusted version of SPEAR, as well as many other future experiments throughout the lab, we'd like to request addition of a "data blending" capability to the FMS coupler.  This could be done as a simple extension of the existing data_override code, and would enable much greater control over the fluxes and fields passed between model components.  The proposal is as follows.

For ea

[2019-08-21 13:10] thomas-robinson commented on #125
@AndrewWittenberg What is the time line you want to see this deployed?

[2019-08-21 18:18] #119 closed

[2019-08-21 21:02] wrongkindofdoctor opened #127 "x_grid lat/lon algorithm assumes x,y dimension order"
The x,y (latitude, longitude) computation algorithm in [x_grid::get_grid_version2 ](https://github.com/NOAA-GFDL/FMS/blob/a779b585e8f0bb99c8f3f61262c7829c730daeb2/exchange/xgrid.F90#L1371) assumes that the x and y dimensions read in from the file defined by the `grid_file` argument have the dimensions (nxp,nyp), and allocates temporary variables with dimensions (istart:iend,jstart:jend) to hold th

[2019-08-30 20:54] wrongkindofdoctor opened #134 "Trouble with domain decomposed read of MOM data on supergrid"
@menzel-gfdl
I am having problems determining how to index 2-D domain decomposed data from the file ocean_hgrid.nc to read them into a temporary variable that is explicitly sized for a the "supergrid" in the MOM6 [set_grid_metrics_from_mosaic](https://github.com/wrongkindofdoctor/MOM6/blob/5ce4ad1cf8dabb3c81fd7c6d466ce87834f1b0fc/src/initialization/MOM_grid_initialize.F90#L169) subroutine.  I am t

[2019-09-03 17:03] AndrewWittenberg commented on #125
@thomas-robinson If at all possible, we would like to begin using these capabilities in October 2019.

[2019-09-03 19:20] wrongkindofdoctor commented on #134
@gfdl-menzel
I've tried registering the 'nxp' (size 721) and 'nyp' (size 421) axes for `x` like so:

[code]
`nxp` is registered correctly (i.e., the `domain_size` returned by  mpp_get_global_domain(io_domain, xsize=domain_size, position=dpos)) in fms_netcdf_domain_io.F90::register_domain_decomposed_dimension is the same as the `dimension_size` from call get_dimension_size(fileobj, dim_name, dim_si

[2019-09-03 21:29] wrongkindofdoctor commented on #134
After consulting with Menzel-GFDL, it turns out that this is a Fortran issue. SCAN only searches for  ANY of the characters in the string, not ALL of the characters. On the second pass, where the dimension name was 'nyp', it found 'n', and tried to register the axis in the x-dimension in the first logic block again.

Since the variable and axis names are hard-coded in the MOM routine, I switched t

[2019-09-03 21:31] #134 closed

[2019-09-05 11:45] thomas-robinson opened #135 "Compile failed with gcc/gfortran "debug" settings"
I tried to compile FMS on gaea with PrgEnv-gnu/6.0.3 and gcc/7.3.0.  Here is the compile line and error:
[code]
I am working off of the fms-io-dev branch, but I also checked the master branch and encountered this problem.

[2019-09-05 13:42] thomas-robinson commented on #135
After some googling, I think I figured out how to solve this and put in pull request #136

[2019-09-05 14:26] #135 closed

[2019-09-09 21:04] ashao commented on #93
This issue was reraised today at the MOM6 dev meeting in response to @milicak's issue: https://github.com/NOAA-GFDL/MOM6-examples/issues/285.

Generally, it seemed to be preferable to the group to be able to specify the global indices. Has there been any internal discussion about a path/timeline forward to implement a solution?

[2019-09-10 14:46] wrongkindofdoctor commented on #93
Ashao,

Thank you very much for raising the issue and for providing a potential solution to the issue. FMS has experienced some internal personnel shuffling since your initial post, and I am now the manager for the repository, as well as in charge of implementing new I/O interfaces in MOM6.  The outcome of the rewrite will be that MOM6 reads and writes netCDF files via direct calls to the new IO i

[2019-09-10 15:59] ashao commented on #93
Thank you @wrongkindofdoctor for your response. Also, my gratitude for taking on the task of overseeing the these improvements to the I/O routines!

From my reading of the `diag_manager` code on the `fms-io-dev` branch, I think that the original  problem would persist. The fundamental problem is that the `get_subfield_size` in `diag_util.F90` assumes that anything not on a cubed sphere grid, is a

[2019-09-10 20:12] underwoo opened #140 "configure.ac test for Apple OS type fails for some Mac OS systems"
The check in the configure.ac is not fully Mac OS X portable.  Some Mac OS X systems set OSTYPE to have `darwin[0-9]+`, instead of just `darwin`.  Something more portable should be used.

[2019-09-10 21:22] wrongkindofdoctor commented on #93
Thanks for providing the code that is causing the issue. I'll discuss your suggested fix with @thomas-robinson, and we'll determine how to proceed.

[2019-09-11 01:10] ashao commented on #93
Thanks!

[2019-09-11 11:57] edwardhartnett commented on #140
This turns out to be a poor choice of implementation style. Do not write your code for apple, or any other operating system. Instead, write to the features of that operating system.

So you should never define an "APPLE" pre-processor for your code. What is it about Apple builds that you are trying to fix with this?

Writing OS specific code is a dead end. You don't want to support that in your bu

[2019-09-11 11:58] edwardhartnett commented on #102
Guys, are we getting any closer to this day?

You are awaiting perfection, and that is a mistake. Release a version immediately, and the next version will be more perfect. Waiting for perfection is just the same as procrastinating and putting off the process changes you need to make.

[2019-09-11 12:01] edwardhartnett commented on #98
How are we doing on this issue?

[2019-09-11 12:02] edwardhartnett commented on #100
I would really like to start on this, but until we can resolve #98 and #102 its pointless to invest any effort in this untested code.

[2019-09-11 12:11] edwardhartnett opened #142 "Is there a way to build FMS so that is works for AM4?"
I am trying to build AM4, and it has some problems with FMS. (See the comments in https://github.com/NOAA-GFDL/AM4/pull/16).

I have heard that is because I am using the master branch of FMS and there is some other branch that might work for AM4. Is this true? If so, what branch? (A branch called "warsaw" was mentioned, but is not in the repo.)

I hope this sort of confusion can be killed by #102.

[2019-09-11 12:36] uramirez8707 commented on #98
@edwardhartnett see https://github.com/NOAA-GFDL/FMS/pull/139

We are still working to get the tests into master.

[2019-09-11 13:33] underwoo commented on #142
I added a comment in NOAA-GFDL/AM4#16.  I think your issue may be with the `-fdefault-real-8` flag that was likely added to the FMS build.  That flag will need to be added to all components as well.  We realize that setting the default real size to be double is not ideal, but remember we are dealing with some code that is multiple decades old.  We talk a lot about refactoring the code to do away w

[2019-09-11 13:51] underwoo commented on #100
Some in our group have been working on updates to the FMS, MPP and IO routines for the libFMS.  It is still in testing, and we are still working through bugs we have discovered.   I'm not sure how much more work is needed.  Perhaps @wrongkindofdoctor, @uramirez8707 or @thomas-robinson  could tell you more of the status.

However, that updated work is being done in the [fms-io-dev](https://github.c

[2019-09-11 13:52] underwoo commented on #102
We are not waiting for perfection, but for a time we feel it is time to do a release.  We are still working through bugs and tests for the current code before creating a new release.

[2019-09-11 14:45] edwardhartnett commented on #142
OK, good tip. I will try that.

If that turns out to be the problem, this is something we can check in configure, and deliver a useful message to the builder that explains the problem.

[2019-09-11 14:53] edwardhartnett commented on #102
This is already operational code, right?

So you have done a release. The release is the operational code, with whatever way that you have tagged it.

What I am requesting is that you label that release with a version number, and generate and distribute a release tarball. (This can be in addition to your proprietary tagging system that you use for internal purposes.)

OK, I see I am pushing perhap

[2019-09-11 18:18] edwardhartnett opened #144 "Have configure script ensure that Fortran compiler can handle extra long lines of code"
Some of the lines of code in the code base are very long, and this makes fortran compilers unhappy.

For example, ../mpp/include/mpp_chksum_int.h:92:132:

`         errStr = errStr // trim(tmpstr4) // "has been called with these strange values. Check your KINDS, _FillValue, pack and mask_val. // &
`

This line is 141 chars long.

In gfortran, this requires Fortran flag -ffree-line-length-none. Oth

[2019-09-11 19:09] edwardhartnett opened #147 "Have configure ensure that Fortran is compiling real and double precision types as 8 bytes"
As I recently was reminded on the AM4 project, this code needs to be compiled with Fortran flags such that real and double precision types are both 8 bytes.

We don't want to try and set flags but we can check that they have been set correct and suggest settings for common compilers.

[2019-09-11 20:00] edwardhartnett opened #149 "Have configure check for Fortran handling of cray pointers"
The code uses cray pointers (see https://gcc.gnu.org/onlinedocs/gcc-8.1.0/gfortran/Cray-pointers.html)

This requires a Fortran flag (-fcray-pointer for gfortran).

This should be checked by configure, so the user gets a good error message from configure instead of a compile time error.

[2019-09-12 01:09] edwardhartnett commented on #142
As you have seen, I have added some macros to the FMS build to cope with these issues. When they have made it through review and been merged, I will add them to the AM4 configure as well, so this problem will not reoccur.

[2019-09-13 14:18] wrongkindofdoctor commented on #93
@ashao  @gustavo-marques
I think a face-to-face meeting is a good idea, and will email both of you, and a couple of other FMS folks who may want to attend, to coordinate a time.
The Fortran integer definition portability issue is described [here](https://stackoverflow.com/questions/3170239/fortran-integer4-vs-integer4-vs-integerkind-4) (scroll down to the second answer). While the larger concern i

[2019-09-13 14:31] marshallward commented on #93
Are we not just talking about specifying grid points, which are pairs (tuples) of integers?  I don't see what this has to do with integer type.

If there's some constraint that I don't understand, can we not just use `use iso_fortran_env, only : int8`?  AFAIK MOM6 and FMS are both already doing this.

[2019-09-13 14:45] wrongkindofdoctor commented on #93
@marshallward if this is the case, then we probably don't need to worry about integer type definitions. Someone raised the concern with inconsistent Fortran kind definitions to my attention at the FMS meeting, so I made sure to mention it in the conversation.

[2019-09-13 14:55] edwardhartnett opened #152 "Allow user to turn off fortran flag setting with --disable-fortran-flag-setting option in configure"
We have decided to have configure set fortran flags for the user, to make the code more readily build with autotools.

This is not ideal, because sometimes our flag choices will be incorrect for specific installs. The best way to cope with this is to allow the users to turn off fortran flag setting if they want.

So, by default, fortran flags will be set. But, if that causes everything to break fo

[2019-09-13 15:25] ashao commented on #93
Thank you @wrongkindofdoctor for continuing the dialogue, providing additional the information, and for being willing to discuss alternate ways forward this with us. Thank you also @marshallward for being slightly confused with me, as I also was not quite clear on how the portability issue really would manifest. And to your question, yes it would be adding support for to read in a tuple of 6 integ

[2019-09-13 15:41] ashao commented on #93
I also wanted to slightly push back on the characterization that ensuring correct indexing due to resolution dependence would be a new potential source of error. The current `diag_manager` is currently forcing users to 'guess and check' in an unclear way.

 @StephenGriffies mentioned that he had 'trick' the current FMS implementation by deliberately putting in incorrect longitudinal/latitudinal ex

[2019-09-17 11:40] thomas-robinson commented on #93
It seems as thought diag_manager is having difficulty supporting the lat/lon of the tripolar grid, which needs to be fixed.  You are supposed to give lat/lon which are reals, but if you specify indices, then you will be sending integers.  What happens next is unknown and compiler dependent.  Will it fail because there is no routine that accepts integers?  Will it cast the values to real and then p

[2019-09-17 14:44] marshallward commented on #93
Looking at `data_table.F90`, it seems that FMS is parsing the coords as a string, saves it to `spatial_ops` inside of a `field_description_type` struct, which is then moved into `regional_coords` if not `none`, which is finally where the data is saved in a `coord_type` as a 6-tuple of reals.

It seems that this process could be interrupted at the `spatial_ops` -> `regional_coords` conversion to sa

[2019-09-17 15:25] ashao commented on #93
@thomas-robinson you raise good points and I agree that 1) it will take a bit of code to figure out if the user is specifying a tuple of REALs or INTEGERS, but again I don't really see how this is a portability problem and 2) that the code should be fixed (or at least hard fail) for the tripolar grid.

@marshallward: That was essentially what I was thinking that it would be an intercept of whether

[2019-09-17 15:44] wrongkindofdoctor commented on #93
@ashao Yes, I think we need another issue, so please open a new one tagged as feature request for indexing based on the geographic extent of the tripolar grid (or however you think the request should be titled for clarity).

 The current issue (the option to subset a domain on the tripolar grid) would be an enhancement of the new indexing scheme, so I'l remove the bugfix tag.

[2019-09-17 16:13] ashao commented on #93
@wrongkindofdoctor, I think it's actually the opposite way around :). This one is the bug-fix and the new one will be a feature request. Really shows how far off I've dragged the conversation.

[2019-09-17 16:27] ashao opened #154 "Regional subsetting based on grid indices"
The discussions about #93 bifurcated with one branch about a bug based when using the current geographically-specified subsetting with an irregular grid. Another branch, (which is where this issue comes from), is a feature request for the ability to specify the indices of the output arrays directly.

Summarizing that discussion here:
@ashao: argues for the additional utility due to more accurate s

[2019-09-17 16:29] ashao commented on #93
Just to really reorient the conversation here:
It seems like to support the tripolar grid, the 2d-arrays specifying the lat,lon of every grid point need to be passed in. There is already precedent for this because the 'cubed sphere' is already supported. I wonder if that routine could be generalized to work with any irregular grid.

[2019-09-17 17:21] wrongkindofdoctor commented on #154
Great! Thanks for opening this issue, @ashao. I (and the rest of the FMS crew) would prefer not to assume user intent based on whether the diag_table lines correspond to integers. It would be safer to have the user pass a flag (e.g., `use_global_indices` or `use_regional_indices`), that the diag_manager would interpret to determine the which routine to call.

[2019-09-17 18:38] mathomp4 opened #155 "GEOS, FMS, and Constants"
Dear GFDL,

This is more of a "meta" issue rather than a "real" issue, but since I don't know if you have a mailing list, this was my first choice for advice.

I work with Goddard's GEOS model which uses FMS for the FV3 dycore (and MOM5/MOM6). We've recently moved to GitHub and so we are trying to be good Git citizen.

As such, we forked off your fine repo and placed our code on our fork in a bran

[2019-09-17 19:08] ashao commented on #154
I like that as well to make it less ambiguous.

[2019-09-17 20:55] wrongkindofdoctor commented on #155
Hello, @mathomp4. Congrats on moving to github!  It can be a bumpy transition (as we know all too well at GFDL), but the ability to track development history and easily share your code with everyone else is worth it.

FMS (and FMScoupler) development is completely on github, and you can update your fork to the latest development stream by pulling from the master branch. Please note that we have no

[2019-09-18 14:21] #144 closed

[2019-09-18 14:21] #152 closed

[2019-09-18 19:14] #140 closed

[2019-09-19 13:24] edwardhartnett opened #157 "two tests still failing on FMS master in test_mpp_io.bats and test_mpp_domains.bats"
When I run make check I get:

[code]
Here's the build command I am using:
`autoreconf -i && CPPFLAGS='-I/usr/local/netcdf-c-4.7.2-development_mpich-3.2/include -I/usr/local/netcdf-fortran-4.5.0_mpich-3.2/include' CC=mpicc FC=mpifort FCFLAGS='-fcray-pointer -fdefault-double-8 -fdefault-real-8 -Waliasing -ffree-line-length-none -fno-range-check' LDFLAGS='-L/usr/local/netcdf-c-4.7.2-development_mpich

[2019-09-19 13:28] mathomp4 opened #158 "Uncovered code path in adjoint global sum"
All,

Recently here at GEOS we are trying using a newer (for us) version of FMS (see #155) based on Xanadu for testing with MOM6 (and soon might move to something based off of your `master`). To that end, we tried running our ADAS (atmospheric data assimilation system) with this newer FMS and found that it crashed. To wit:
[code]
The user contacted me, and I wended my way through the FMS code and

[2019-09-19 13:29] underwoo commented on #157
Does your system have [bats](https://github.com/sstephenson/bats)?  It is installable as a package.  Sometime soon the `configure.ac` will check if `bats` is installed.

I am considering removing the `bats` requirement, but keep the TAP output.

[2019-09-19 13:33] edwardhartnett commented on #157
OK, stand by, I will add bats. Also I will add a check to configure for bats. ;-)

[2019-09-19 13:38] edwardhartnett commented on #157
OK, now it gets farther:

[code]

[2019-09-19 13:43] edwardhartnett opened #159 "configure.ac should check for bats utility"
The bats utility is required for testing. configure needs to check for it.

I will have a PR up for this shortly.

[2019-09-19 13:48] edwardhartnett opened #160 "namelist files should not be CLEANed in Makefile.am of tests"
When I tried to push my changes to the configure.ac for #159 , I see this:

[code]

Well that's not good! What is happening is that the namelist files are listed as EXTRA_DIST (which is correct) and also as CLEANFILES (which is incorrect).

CLEANFILES should never list anything in EXTRA_DIST, that's going to break the build. What will happen is that developers will do a "make clean" in the course

[2019-09-19 13:53] underwoo commented on #160
Thank you for pointing this out.  What should be in each is a base namelist file (e.g. input.nml_base as in diag_manager), and the `input.nml` will be deleted, as it does need to change for each test --- a bad design, but we simply yanked these tests out of the main Fortran modulefiles and put them in their own test files; we do have plans to update the tests during our rewrite of the FMS library

[2019-09-19 13:54] edwardhartnett commented on #160
I have a PR that I'll be putting up.

If they change during testing, does that mean "make check" will fail if I run it twice?

[2019-09-19 13:56] edwardhartnett commented on #160
OK, just rereading your comment. Do you want the repo namelist to be called something like input_base.nml, and then have that copied to an input.nml which can be changed during testing and then cleaned?

That can be easily done with configure. If I have explained it correctly, let me know and I will add it to my PR. No need to change your tests, this can work fine.

[2019-09-19 15:26] mathomp4 opened #165 "Issue using 32-bit FMS with GEOS: fms_io"
All,

As said in #155, I'm trying to update GEOS to use newer FMS (hopefully something close to `master` though we are starting with something near Xanadu). When we build GEOS with FMS we build it both at 32-bit and 64-bit because our FV3 dynamics are at 32-bit but our MOM5 code is 64-bit. Using some CMake wizardry by someone here at GMAO, we eventually got this working by having our FV3 see the 3

[2019-09-19 16:48] edwardhartnett opened #166 "better practice to define includes once instead of for each test in Makefile.am"
In test_fms/drifters/Makefile.am we have:

[code]

Although there are some slight differences, all of these can be replaced with:

`AM_CPPFLAGS = -I${top_builddir}/mpp -I${top_builddir}/include -I${top_builddir}/fms -I${top_builddir}/drifters
`

(Also are we sure the include should not be top_srcdir? builddir is for built things, like .mod files. For include (.h and .inc files), they will not exis

[2019-09-19 18:45] underwoo commented on #157
Can you please add `LOG_DRIVER_FLAGS=--comments` to your `make check` command, or send the contents of the `test_monion_obukhov.sh.log` file.

[2019-09-19 19:27] kshedstrom opened #168 "Issues with dt < 1"
I have a MOM6 test case with dt = 0.2. I can see that it's running fine in the debugger, with the Time incrementing by 1 second every fifth timestep. The Time ticks remain at zero, for what it's worth.

The problems I'm having are:

- No ocean.stats.gnu output - should be every second.
- No prog.nc output - should be once a minute.
- The run fails to stop after 120 seconds, but eventually dies wit

[2019-09-19 21:15] underwoo commented on #168
@kshedstrom I can think of several reasons this would happen.  It is possible you have in your diag_table a variable going to one of the files that doesn't have a `send_call` frequently enough to be output at the frequency you have specified.  Looking through the MOM6 source code, I see calls like:

[code]

The `do_dynamics=.false.` will keep the MOM dynamics from being sent to `diag_manager` for

[2019-09-19 21:29] underwoo commented on #160
It is more complicated than that.  The way the tests are written (we didn't change them when we put them in place) the same source is used to run multiple tests.  Each requires a slight change in a base `input.nml` file which indicates which test to run.  Currently no way to tell FMS which file to read --- it always reads `input.nml`.  Thus, what is done is a `sed` is performed before each test to

[2019-09-19 21:32] kshedstrom commented on #168
Thanks for pointing that out. It was the dt_forcing that was too long, inherited from some other run. All is well now!

[2019-09-19 21:32] #168 closed

[2019-09-20 13:37] edwardhartnett commented on #160
OK, I have a pr up for the axis_util (#164).

Is that correct?

I have been looking at these, and I haven't yet seen any use of sed in any of the scripts.

Getting the tests into better shape (at least in this regard) is something I hope to contribute today. ;-)

I suggest we should get this working today, with bats, and then tackle bats removal as a separate problem. I suggest that when you remov

[2019-09-20 16:49] edwardhartnett commented on #160
OK, I am starting to apply this to other directories. There are some twists and turns here, so I'm not going to do it all in one PR. I will isolate the changes so they can be reviewed.

@wrongkindofdoctor, now that this PR has been approved, if you can merge it to master, it will make some of the other PRs more clear to review.

[2019-09-20 17:02] edwardhartnett opened #169 "Test scripts need to include set -e"
You must have "set -e" at the top of all your test scripts.

Default shell behavior when a command fails is to continue. Even if commands fail, the script can report success.

If you type `help set` in a bash shell you can see all the options:

`     -e  Exit immediately if a command exits with a non-zero status.
`
Here is a test script from netcdf-c which illustrates this. Note that we also somet

[2019-09-20 18:10] edwardhartnett commented on #157
Some of my previous failures were due to reruns on the same directories, which failed because of the namelist issues.

However starting from a clean run, with LOG_DRIVER_FLAGS=--comments, I see:

[code]

[2019-09-20 18:45] edwardhartnett opened #174 "test_fms directory should have a Makefile.am"
In some (smallish) autotools projects, there is only one Makefile.am, at the top level, and it does everything.

In most bigger autotools projects (including FMS) there is a Makefile.am in each directory.

The two approaches are usually not mixed. In the FMS Makefile.am we have:
[code]

Note that all the subdirectories of test_fms are listed here. This is incorrect. Instead, put a Makefile.am in t

[2019-09-23 14:15] nikizadehgfdl opened #176 "MOM6 variable checksum in the restart file has the first bit missing"
MOM6 restart variable u was flagged as different in a restart test:
[code]

However the data was identical upon inspection of the files.

Note that the 2nd checksum has the left-most bit missing (' '). How could this happen?

[code]

[2019-09-23 14:23] wrongkindofdoctor commented on #176
It looks like there's a typo being introduced somewhere before or during the file read or write procedure. Did someone change the calls to restore_state or save_restart, or anything in those routines? Or, is this an issue with frecheck if you are using it to compare the restarts?

[2019-09-23 14:45] nikizadehgfdl commented on #176
This is not a frecheck issue. The second restart file really has a missing character in the checksum.
[code]

I doubt this is due to any recent code change, this test was done with xanadu_esm4_20190304 release and mom6_2019.08.08.

I have a feeling this might not be a reproducible issue since this test has run without such issues before.

[2019-09-23 14:56] wrongkindofdoctor commented on #176
All right. We'll file this under 'probably nothing, but will investigate further if it occurs again'.

[2019-09-23 19:21] #166 closed

[2019-09-23 19:21] #174 closed

[2019-09-23 19:21] #160 closed

[2019-09-23 19:22] #159 closed

[2019-09-25 19:36] underwoo opened #178 "Add issue and pull request templates"
FMS should have issue and pull request templates to help guide contributors with submitting issues or pull requests.

[2019-09-26 14:28] #178 closed

[2019-10-02 15:49] wrongkindofdoctor opened #180 "DIfferent values in MOM diagnostic files generated by old and new I/O"
@thomas-robinson, @menzel-gfdl
**Describe the bug**
There are small discrepancies in single values of some variables in the MOM diagnostic files generated by the new I/O and old I/O routines. Most of the files only have differences in the coordinate variables _yh_ and _yq_, but one file has differences for the time coordinate variables _average_T1_, _average_T2_, and _Time_bnds_. There are also di

[2019-10-02 19:13] wrongkindofdoctor commented on #180
The last values in the _lath_ and _latq_ coordinate variable arrays in the MOM_restart files are also slightly off, which suggests that there is an issue with the _domain_position_ values passed to the _register_axis_ routine.

[2019-10-03 11:09] thomas-robinson commented on #180
@wrongkindofdoctor can you point me to an XML or experiment set configuration so I can run it?  Does it require a lot of cores?  Does this problem show up with the intel compiler?

[2019-10-03 18:16] wrongkindofdoctor commented on #180
Yes, this problem occurs with the intel compiler, too. The experiment only requires 36 cores (1 C4 or 2 C3 nodes). I'll email you the files and build paths.

[2019-10-04 13:26] uramirez8707 commented on #157
@edwardhartnett I am reproducing your errors in the GFDL skylake machine .

Can you please try changing L62,85,148 in test_fms/mpp/test_mpp_domains.bats from
`
run mpirun -n 2 ./test_mpp_domains
`

to
`
run mpirun -n 6 ./test_mpp_domains
`

The problem is that there wasn't enough nodes to run the test. The test requires a min of 6 since it is in the cube sphere grid. This wasn't a problem with tra

[2019-10-09 21:53] underwoo opened #185 "Remove tab characters from Fortran files"
**Describe the bug**
Some Fortran files contain tab characters.  The Fortran 90 standard does not allow tabs.

**To Reproduce**
Building with `gfortran -Wtabs` will show warnings when a tab character is encountered in a Fortran file.

**Expected behavior**
`gfortran -Wtabs` will not report tab warnings.

[2019-10-09 22:09] underwoo opened #186 "Use of wrong abs function in C sources"
Some of the C source files use the wrong version of `abs` for the variable type of the variables acted on.

[2019-10-15 22:13] underwoo opened #188 "time_interp_missing is out of range in mixed mode"
**Describe the bug**
A parameter in [time_interp/time_interp_external.F90](time_interp_time_interp_external.F90) is initialized out of range when in mixed-mode because all reals (including literal constants) are `real(kind=4)`.

**To Reproduce**
Compile FMS in mixed mode (`configure` option `--enable-mixed-mode` in #181).  The compile will fail unless the GFortran option `-fno-range-check` is give

[2019-10-15 22:17] underwoo opened #190 "Remove unused variables"
Several sources/routines have unused variables.  These should be removed.  Most of the unused variables can be found using the `-Wunused` Gfortran option.

[2019-10-15 22:30] underwoo opened #192 "Ensure variables initialized before use"
The `-Wmaybe-uninitialized` GFortran option will list many variables that may be used before initialized.  While several of these warnings are likely false positives, that is most likely due to the branching done in the code causing certain, unlikely paths (and sometime error paths) that do not initialize the variable.  These cases need to be evaluated, and if possible corrected.

[2019-10-16 18:16] #185 closed

[2019-10-17 14:41] #188 closed

[2019-10-22 14:57] wrongkindofdoctor opened #195 "Invalid memory reference using new diag_manager io on skylake box"
**Describe the bug**
@thomas-robinson
Running the mom6 global_ALE_z ocean-only experiment on the skylake box results in a crash when writing data to the surface diagnostics files "surface.nc" and "sfc_ave.nc":
```Segmentation fault - invalid memory reference```
While FMS does not support non-Gaea builds, this issue is worth solving in the interest of prepping the code to run with newer software an

[2019-10-22 15:22] thomas-robinson commented on #195
@wrongkindofdoctor where do I get the code?  Do you have a checkout script or a clone command?

[2019-10-22 15:24] thomas-robinson commented on #195
@wrongkindofdoctor is the .mk file on github anywhere?
`/home/${USER}/makefile_templates/gnu.mk`

[2019-10-22 17:06] thomas-robinson commented on #195
@wrongkindofdoctor can you also point me to an run and INPUT directory that is not full on simlinks?

[2019-11-01 10:23] edwardhartnett commented on #157
OK, awesome! I will try that.

[2019-11-04 15:00] #195 closed

[2019-11-04 15:11] wrongkindofdoctor commented on #180
I have implemented a [procedure](https://github.com/wrongkindofdoctor/MOM6/blob/3b2f162a54843d003b05f6a2dc677ff448b2e06f/src/initialization/MOM_grid_initialize.F90#L460) to search for a longitude in the temporary global data array that corresponds to the full range of used to define lath and latq in the restart and diagnostic files. The [original procedure](https://github.com/NOAA-GFDL/MOM6/blob/4

[2019-11-04 15:12] #176 closed

[2019-11-06 11:30] edwardhartnett commented on #180
Is this new I/O branch to be merged soon?

One thing that will really speed development is to have tests before you do large refactorings. I understand the programmer view of "why should I write tests for code that I'm going to re-write?" The answer is that with good tests refactoring is much faster and safer.

Once you get it merged, perhaps I can contribute some basic I/O code tests which can he

[2019-11-06 11:37] edwardhartnett commented on #157
OK, I am back from a long vacation and ready to hit these issues again hard! ;-)

It seems that many test are not being run as part of travis? Is that true? That's dangerous.

Travis has some great capabilities, if you are a paying customer, which I believe someone there told me you are. So you should be able to run all your tests and not time out travis.

On my projects I usually combine travis w

[2019-11-06 12:19] edwardhartnett commented on #157
More progress! Now I'm down to two failures:
[code]
and

[code]

[2019-11-06 13:51] edwardhartnett opened #201 "I missed a few of the namelist issues from issue #160"
There was a namelist issue, well-described in #160

I thought I had got all of them, but while working today I see:

[code]

So, seemingly I missed some. I will fix and have a PR up shortly.

[2019-11-06 14:01] edwardhartnett commented on #201
BTW the easy make to detect these is do a make clean followed by a git status. When I do that I see:

[code]

[2019-11-06 14:31] wrongkindofdoctor commented on #180
The Gaea outage in October delayed development for several weeks, but we are able to start in-depth testing on the land code. FMS will be tagged with an alpha release either today or tomorrow. MOM6 has a projected alpha tag date range some time in the final two weeks of November. We have some tests in the test_fms directory in the fms-io-dev branch, and will likely add more as we refine the requir

[2019-11-06 16:06] edwardhartnett commented on #180
OK, when you say tagged with release, do you mean you are doing an actual release on github?

Or is this one of those things where you just give all the repos the same tag?

The difference is that in the first scenario, the FMS will be built from versioned tarball. (Like netCDF). In the second scenario, everyone is still cloning from github, but they are cloning a branch.

If this is an actual rel

[2019-11-06 16:27] wrongkindofdoctor commented on #180
All of the relevant repos (FMS, ice_amip, ocean_amip for land, MOM6, FMS, ocean_BGC for the ocean) will receive the tags 1.0-alpha-yyyymmdd when ready. These tags are intended primarily for GFDL developers to run extensiveend-to-end tests on the production system and report any bugs or request additional features (though external users may also run their own tests with the tags if they wish).

FMS

[2019-11-06 16:30] underwoo opened #202 "Travis CI `make distcheck` not passing configure options"
**Describe the bug**
When testing the `--without-openmp` build in Travis CI, it was discovered the `make distcheck` does not pass the configure options to the distribution check call to configure.

**To Reproduce**
autoreconf -if
./configure --without-openmp
make distcheck

**Expected behavior**
Both builds should build without openmp support.

**System Environment**
All systems running `make dist

[2019-11-06 16:31] edwardhartnett commented on #180
When you tag your 1.0 (not alpha, but the actual 1.0 release), you will be doing a github release at that time - is that correct?

And that's what your are mentioning as the "official release" with new I/O scheduled for February?

[2019-11-06 16:37] wrongkindofdoctor commented on #180
I don't think there are plans to include a tarball, but I'll cede to @underwoo to confirm.

[2019-11-06 16:52] edwardhartnett commented on #180
You must do an autotools release as well as tagging the code, or shared libraries will not work correctly.

You need to update the shared library version-info numbers for each release, and if you don't then shared libraries will not work correctly for FMS. This is a significant cost.

Also there may be plenty of HPC and other science systems which do not have autotools installed, so those systems

[2019-11-06 17:04] edwardhartnett opened #203 "when sed is used in test_mpp_domains.bats file, the source file must be identified relative to $srcdir"
Sometimes sed is used to manipulate the input namelist files.

In these cases, the namelist file must be identified relative to $srcdir. If not done, then builds where the object files are not being co-located with the source code will fail. This will be detected by a failure of the distcheck target, which checks such a build.

So, from test_mpp_domains.bats:

`    sed "s/test_get_nbr = .false./te

[2019-11-06 17:22] underwoo commented on #165
Were you able to get past this issue adding the additional CPP macro?

[2019-11-06 17:23] underwoo commented on #158
We are reviewing this internally and we’ll let you know what we discover.

[2019-11-06 18:06] edwardhartnett commented on #169
I did a branch with this, and found some more namelist problems, which I have addressed in a separate PR.

However, I also found that set -e seemed to catch some test failures. Also the use of the "skip" in bats seems to cause a non-zero exit code to be returned - the sign of an error. I would have thought that skip would return success, since it a test is intentionally being skipped, but that is

[2019-11-06 18:29] edwardhartnett opened #205 "presence of sed and ncgen need to be tested in configure.ac"
In our test scripts we use sed and (in test_drifters_input.sh) ncgen.

We need to confirm these are available in configure.ac. By confirming it there (as we do with bats) we prevent confusion and future (unnecessary) bug reports.

[2019-11-08 13:37] edwardhartnett opened #208 "Suggest that tests be turned on/off from configure, not with logic in bats scripts"
The bats scripts frequently contain logic like this:

[code]

There is no need to repeat this everywhere. Instead, separate your tests into tests that always run, and additional tests that run on non-darwin systems. Then use configure to identify the condition, and automake conditionals to run the tests.

For example, from netcdf-c/nc_test/Makefile.am:

[code]

So what happens here is that the TES

[2019-11-08 13:41] edwardhartnett opened #209 "What is test issue that prevents tests from running on Darwin?"
I believe someone explained it to me at one point, but I can't find the explanation, so I have to ask again...

What is the reason we see this in bats files?

[code]

What is it about Darwin that causes these tests to fail?

Instead of just identifying Darwin as the culprit, can we drill a little deeper to what actual feature is missing on Darwin? Then we can test for that feature in configure.ac,

[2019-11-12 21:12] underwoo opened #210 "block_control.F90 does not have IMPLICIT NONE"
**Describe the bug**
block_control.F90 does not have `IMPLICIT NONE` in the source, and therefore may have implicitly defined variables.

**To Reproduce**
Compile with `-fimplicit-none` (for GFortran).

**Expected behavior**
The block_control.F90 file should compile if `-fimplicit-none` is given on the compile command line.

**System Environment**
All systems/compilers affected

[2019-11-15 17:00] uramirez8707 opened #212 "new io: amip_interp bug"
**Describe the bug**
I run into the following crash in my land only test case with the new io:

FATAL from PE 46: lookup_es: saturation vapor pressure table overflow, nbad= 63

fms_lad2_xanadu.x  000000000262F5E2  mpp_mod_mp_mpp_er          69  mpp_util_mpi.inc
fms_lad2_xanadu.x  0000000002636240  mpp_mod_mp_mpp_er         196  mpp_util.inc
fms_lad2_xanadu.x  0000000001B96F83  fms_mod_mp_fms_er

[2019-11-15 17:00] uramirez8707 commented on #212
@wrongkindofdoctor

[2019-11-18 18:05] bensonr opened #214 "quad precision default behavior changed in xanadu"
The default behavior of enabling quad precision changed from in the xanadu release.  Prior to xanadu, the macro NO_QUAD_PRECISION was not defined by default.  With xanadu the macro is defined by default, unless one adds an additional macro at compile time (-DQUAD_PRECISION) with the further assumption you are not using PGI compilers.

The proposal is to revert to pre-xanadu behavior and ensure NO_

[2019-11-18 18:33] bensonr commented on #210
I will add this in as part of a pull request fixing #214

[2019-11-19 15:20] #210 closed

[2019-11-25 13:21] bensonr commented on #212
This is a change in behavior from old to new IO.  Are the scale and offset values part of the variable metadata?  If so, we need to understand their purpose for being in the files and expected use/application to the data.

[2019-11-25 15:54] wrongkindofdoctor commented on #180
This issue originates in the MOM_grid_initialize module where temporary arrays are allocated to read in slices of the _x_ and _y_ data corresponding to the full ranges of latitude and longitude coordinates that are used to define the diagnostic _lath_, _latq_, _lonh_, and _lonq_ axes. Referencing the original ranges using the indices for the slices does not match the locations in the temporary arr

[2019-11-25 15:54] #180 closed

[2019-11-25 19:12] uramirez8707 commented on #212
@bensonr The files do have the scale factor and add offset attributes, the new io just doesn't do anything with them when reading the variable (SST in this case).

[2019-11-26 16:11] edwardhartnett commented on #169
OK, looks like bats has been deprecated: https://github.com/sstephenson/bats/pull/269

There is something called bats-core that replaces it.

What I would suggest instead is that bats be removed from the build and not used at all.

[2019-11-26 16:26] underwoo opened #221 "Remove the use of `bats` in testing"
**Is your feature request related to a problem? Please describe.**
The Bash Automated Testing System ([bats](https://github.com/sstephenson/bats/commits/master) is currently used to produce TAP style output.  Using `bats` adds an additional requirement in order for a user to test the build of FMS, especially since `bats` is not a base package installed by \*nix OSes.  We would like to have `bats`

[2019-11-26 16:26] underwoo commented on #169
We have a goal to remove bats as a requirement for testing.  However, due
to other commitments, we have not been able to take on that task.  I have
opened an issue (#221) requesting this to be done.
--
Seth Underwood

S/W Development Process Lead
Modeling Systems Group
GFDL/NOAA/DOC
201 Forrestal Road
Princeton, NJ 08540-6649

(609) 452-5847 Office
(304) 376-9002 Cell
(609) 987-5063 Fax
Seth.Under

[2019-11-26 17:14] edwardhartnett commented on #169
I can take it out of the existing code base, starting today. Will this be acceptable?

The path I will take is first to introduce sh scripts that do the tests currently done by bats. During this phase, both bats and shell scripts will work, selectable by configure. At this point, new tests should only be written as bash shell scripts - no more bats tests should be added. You must communicate that

[2019-11-26 17:26] edwardhartnett commented on #221
I would propose to solve this with the solution I describe in #169.

Regular sh shell scripts can be used to run tests, as is done in netcdf-c, netcdf-fortran, HDF5, PIO, and other packages. Since sh is standard on all unix systems this is maximally portable. These scripts are then run from Makefile.am and CMakeLists.txt files. (See netcdf-c for good examples.)

[2019-11-26 18:28] underwoo commented on #221
Your proposal in #169 is sufficient.

[2019-11-26 20:05] edwardhartnett commented on #221
Actually the TAP style output is not a problem for the shell scripts, so we can keep that.

[2019-11-27 15:24] edwardhartnett commented on #221
OK, actually TAP style output is a huge pain. So I will jettison that desirement...

[2019-11-27 17:15] DusanJovic-NOAA opened #225 "Circular dependency in mpp/Makefile.am"
**Describe the bug**
There is a circular dependency between mpp_efp.o and mpp_efp_mod.mod

[code]

[2019-11-27 18:09] bensonr opened #226 "Nest updates within the FMS infrastructure"
**Is your feature request related to a problem? Please describe.**
Nest performance updates also bringing in new functionality specific to FV3:
   nests spanning cubed-sphere boundaries, but not corners
   multiple nest support
   telescoping nests

**Describe the solution you'd like**
Merge of code created back in 2018 which now needs to be imported to support code updates in SHiELD and GFDL AM4/

[2019-11-27 19:43] underwoo commented on #149
PR #181 has a check for this.

[2019-11-27 19:44] underwoo commented on #165
@mathomp4 please let us know if you were able to get past this issue by adding in the extra CPP macro `-DOVERLOAD_R8`.

[2019-11-27 19:46] underwoo commented on #158
@mathomp4 I'll check with our internal developers if they got any information on this.  Last I heard, they were unsure where this code came from, and are unable to verify if it is a problem.  We'll keep you apprised as we find out more information.

[2019-11-27 19:47] underwoo commented on #157
@edhartnett any reason to keep this issue open as you are working on #222?

[2019-11-27 19:49] underwoo commented on #155
@mathomp4 do you still require assistance with the _correct way_ to add alternate constants to the FMS library, or have you decided to simply use your fork to have these additional constants?

[2019-11-27 19:50] underwoo commented on #147
PR #181 has the checks for this.

[2019-11-27 19:56] underwoo commented on #102
We have released [2019.01](../tree/2019.01) that has an updated `configure.ac` with the release version number.  The master branch has also been updated with the next version expected for release.  We'll work to keep the version number in `configure.ac` up to date with development and releases.

[2019-11-27 19:56] #102 closed

[2019-11-27 19:57] #142 closed

[2019-11-27 19:59] underwoo commented on #98
@edhartnett with the tests we have (although somewhat incomplete), do you feel this issue should remain open?

[2019-11-27 20:09] underwoo commented on #42
We have updated the `include/fms_platform.h` file.  It may be closer to what you need.  Let us know if there is more that is required.

Unfortunately, we still have cray pointers and we probably will for a while.

[2019-11-27 20:09] edwardhartnett commented on #102
Great! What is done on the netCDF project is to now change the version to 2019.01-development (that is, add "-development" to the configure.ac version number on master).

Then, anyone building from master will get a different version than someone building from releases.

Before the next release, you change the version number again to the new release, and then, once that's done, add "-development"

[2019-11-27 20:11] edwardhartnett commented on #98
No, this issue is complete, though of course our testing journey is just beginning. ;-)

I am super impressed with how you guys have started using CI with travis, and moved forward on this testing. Keep up the good work!

[2019-11-27 20:12] #98 closed

[2019-11-27 20:12] #147 closed

[2019-11-27 20:13] edwardhartnett commented on #157
No, I will close this.

[2019-11-27 20:13] #157 closed

[2019-11-29 16:29] edwardhartnett commented on #225
Good catch! I have a fix, PR up shortly.

[2019-12-02 14:13] #205 closed

[2019-12-02 14:18] #221 closed

[2019-12-02 14:28] #225 closed

[2019-12-02 18:12] mathomp4 commented on #165
@underwoo Sorry for the late reply. Building now...

[2019-12-02 18:34] mathomp4 commented on #155
@underwoo I suppose we'll just have to fork. The correct solution would probably be for constants to be supplied by a dictionary or the like, so none are ever defined, but for now I guess we fork.

[2019-12-02 19:04] mathomp4 commented on #165
@underwoo Well, that seems to help! I'm assuming that `-DOVERLOAD_R8` should only be used when compiling 32-bit?

[2019-12-03 19:52] bensonr opened #234 ""mpirun" hardcoded in test scripts"
**Describe the bug**
The scripting framework for the unit tests hardcodes mpirun.  It should use a macro or some other method to determine the MPI launcher.

**To Reproduce**
Run the tests on any of the RDHPCS machines.

**Expected behavior**
I expect the test environment to use the appropriate MPI launcher for the platform.

**System Environment**
Describe the system environment, include:
N/A

**

[2019-12-03 21:21] GFDL-Eric opened #235 "Data Override 3D: Only one vertical level obtained / overwritten"
I have more details of what is happening at the associated [Google Doc](https://docs.google.com/document/d/10EwsgSj2yY2623i5lxrY8zg6Sstuy1jDz-II1BZ282E/edit?usp=sharing), but the general issue is: I’m trying to implement the current data_override routine for a 3d variable (such as atmospheric so2 or sea salt). To do this, I have modified the test_fms/data_override procedure. This test procedure wo

[2019-12-05 14:54] underwoo commented on #165
That is correct.  However, I should warn you that although `-DOVERLOAD_R8` does _overload_ certain interfaces to allow both `REAL(kind=4)` and `REAL(kind=8)` the general way the code does this is to cast the `REAL(kind=8)` to `REAL(kind=4)`, and then use the `REAL(kind=4)` interface to do the actual processing.  We are reviewing the FMS code in preparation for some major rewrites, and we will dete

[2019-12-05 15:00] underwoo commented on #155
We understand keeping your fork separate.  We would be interested in coming up with a way to allow the GEOS constants in our FMS repository, and then allowing something at build time to determine which constants to adopt.  We are also interested in adding a CMake build process to the library (as this is something we have been asked about from several groups).  If you have time, and would like to d

[2019-12-05 15:00] #155 closed

[2019-12-13 17:49] underwoo opened #239 "CRAY variable in configure.ac should be more descriptive"
**Is your feature request related to a problem? Please describe.**
The automake conditional variable `CRAY` should be more descriptive, as it can lead individuals to think this is a problem on Cray systems, and not just Cray systems that use the Cray Programming Environment, and do static linking by default.

**Describe the solution you'd like**
A name like: `CRAY_PRGENV_STATIC` may work.

**Other

[2019-12-16 13:24] edwardhartnett commented on #169
OK, bats has been removed, and now all scripts call set -e by including test_common.sh. So I will close this issue.

[2019-12-16 13:24] #169 closed

[2019-12-16 13:31] edwardhartnett commented on #203
I believe I fixed all cases of this when we took out bats. I will close this issue.

[2019-12-16 13:31] #203 closed

[2019-12-16 13:55] edwardhartnett commented on #201
OK, only one uncleaned file remained of these issues. I have a PR up now which will close this ticket when merged.

[2019-12-16 13:58] edwardhartnett commented on #208
OK, things have changed a lot since bats was removed. I will close this ticket and make a more specific recommendation for code changes once the issues of #238 are resolved.

[2019-12-16 13:58] #208 closed

[2019-12-16 14:57] edwardhartnett opened #241 "Instead of testing for APPLE, test for absence of function you care about..."
**Describe the bug**
Checking for specific systems (like APPLE or CRAY) breaks the portability of the build system. The entire point of autotools is that you never, ever, should do this. If you find yourself identifying by system type, you are making a mistake, and need to give your changes more thought.

**To Reproduce**
Build on a non-apple system that also does not have the memuse() function. Y

[2019-12-16 15:07] edwardhartnett commented on #209
This seems to have morphed into #241

I will close this issue and continue with this under #241

[2019-12-16 15:10] edwardhartnett commented on #239
OK, the AM_CONDITIONAL CRAY is actually not used anywhere in any Makefile.am. So it can be removed.

Where is there special handling for CRAY?

[2019-12-16 15:13] edwardhartnett commented on #202
This can be accomplished by setting environment var DISTCHECK_CONFIGURE_FLAGS before running make distcheck.

I thought this had been resolved but apparently not. Do you want me to submit a PR adding openmp testing to the existing travis testing?

[2019-12-16 15:20] edwardhartnett opened #242 "Should the FMS build work without MPI?"
**Describe the bug**
I have heard from @underwoo that the FMS should build without MPI (as well as with it). But when I try, configure fails, telling me that MPI is required. If I remove this check, the build will fail in the drifters code, which requires MPI.

**To Reproduce**
Build without setting CC and FC to mpi compilers.

**Expected behavior**
If it is supposed to build without MPI, then the

[2019-12-16 15:26] edwardhartnett commented on #209
OK, I was wrong this was not resolved. In test_fms/mpp/test_mpp_domains2.sh I see:
[code]

Then later, the skip_test var is checked and tests are skipped on Darwin. So again, why is this happening? Let's put a proper fix in place for this...

We want to detect what the problem is (not just that we are on a Darwin system, but what is the actual problem with that system). Then we want to handle that

[2019-12-16 15:30] edwardhartnett opened #243 "Is support for mkmf still required? Can we stop using .inc and .h files instead of .F90 files?"
**Is your feature request related to a problem? Please describe.**
Use of .h and .inc files defeats all code analysis tools. Is there some reason you can't use .F90 files like all other fortran programmers?

**Describe the solution you'd like**
.inc files should only be used in the standard way, to provide constants and definitions. .h files should never be used by Fortran programs. Fortran code s

[2019-12-16 15:36] edwardhartnett opened #244 "Can I add some tests for fms2_io and other modules in support of PIO integration?"
**Is your feature request related to a problem? Please describe.**
To support future IO work, I would like to add some tests for the I/O code, mpp/mpp_io.F90.

**Describe the solution you'd like**
I will add a .F90 test program, and unit test some of the functions in mpp_io.mod. Preferably with and without using MPI.

**Describe alternatives you've considered**
There is no alternative to good test

[2019-12-16 18:03] underwoo commented on #244
It might be best to use the new FMS code in branch `fms-io-dev`.  @wrongkindofdoctor can help direct your efforts in writing these tests, as they may already have some written.

[2019-12-16 18:10] underwoo commented on #243
Use of `mkmf` will be in use for several more months, and possibly more than a year.  This is due to several of the other GFDL model components not adopting a different build system at the same time.  We have also discovered some components/repositories that require significant modifications to allow other build system to work.

As of the `.h` and `.inc` file, some of these will need to remain unt

[2019-12-16 19:02] edwardhartnett commented on #243
I believe you can decouple FMS from your other projects by building and installing a versioned release of FMS, and having all other packages find it as they now find netCDF. In that case, mkmf need never be run on FMS code, even if it is still used on other projects. You are already doing the versioned releases, so now you just need to use them, instead of having users clone your repo.

I am glad

[2019-12-18 20:21] bensonr commented on #214
Re-opening issue because we are implementing a hard on/off switch to fix the issue as we had different default behaviors for different platforms when using heuristic-based logic.

[2019-12-20 18:44] underwoo opened #246 "Remove preprocessor macro use_netCDF"
**Is your feature request related to a problem? Please describe.**
Using netCDF is now required to build libFMS.  This macro should be removed so it is not needed when building libFMS.

**Describe the solution you'd like**
No `use_netCDF` macro in any FMS sources.

[2019-12-20 21:02] underwoo opened #248 "Need to verify if Cray PE still support "Enhanced I/O: Using the assign Environment""
**Is your feature request related to a problem? Please describe.**
In a few places in the FMS code base, calls to an `ASSIGN` Fortran subroutine are protected by `CRAY*` preprocessor macros.  The `ASSIGN` subroutine is part of the Cray CCE compilers, and is documented in the [Cray Fortran Reference Manual](https://pubs.cray.com/content/S-3901/9.1/cray-fortran-reference-manual/enhanced-io-using-the

[2019-12-20 21:12] underwoo commented on #243
The use of the include files in several of the Fortran files (mainly the files in mpp) has nothing to do with `mkmf` or how it operates.  The way the files are included is to create many similar interfaces -- that only differ in their return type and/or input parameter types.  Until a major rewrite is done (if the current mpp/fms rewrite doesn't resolve the issue ATT), these include files will exi

[2019-12-20 21:14] edwardhartnett commented on #243
OK, thanks for all the clarifications. I will start addng tests, knowing that's safe with mkmf.

I will close this issue.

[2019-12-20 21:14] #243 closed

[2019-12-23 21:23] underwoo opened #250 "field_manager: Warning: reading 128 bytes from a region of 127"
**Describe the bug**
When building field_manager with gfortran a warning is printed:

[code]

It would be good to remove this warning.

**To Reproduce**
Compile libFMS with a gfortran compiler.

**Expected behavior**
No warning like this when compiling field_manager should be printed.

**System Environment**
All systems using gfortran to build libFMS

[2020-01-02 16:32] #250 closed

[2020-01-02 16:45] #186 closed

[2020-01-02 20:21] underwoo opened #252 "affinity/test_affinity not tested with`make check` under autotools"
As part of the updates for the thread affinity code, a [test_affinity.F90](../blob/master/affinity/test_affinity.F90) was created.  However, this file was not added to the autotools `make check` tests.  This should be included in the suite of tests.

[2020-01-03 15:41] uramirez8707 commented on #252
@underwoo I can work on this.

[2020-01-03 16:16] underwoo commented on #252
Thank you @uramirez8707.  An FYI, it looks like the test_affinity.F90 will not compile/link due to a possible renaming of `fms_set_affinity` to `fms_affinity_set` in [affinity/fms_affinity.F90](../blob/master/affinity/fms_affinity.F90).  Please correct that and add in the bits to test affinity.  The following lines of code added to the [affinity/Makefile.am](../blob/master/affinity/Makefile.am) sh

[2020-01-03 16:18] underwoo commented on #248
Comment in #247 from @bensonr:

[2020-01-03 19:04] #201 closed

[2020-01-06 20:25] underwoo opened #256 "Remove oda_tools directory and source -- not to be used in future development"
**Is your feature request related to a problem? Please describe.**
The source contained in the oda_tools directory will not be used in model components moving forward.  These sources were used for data assimilation in a few older models.  This is currently some work to bring data assimilation to other components, but that work will not used these sources.

**Describe the solution you'd like**
Dele

[2020-01-06 20:29] uramirez8707 commented on #242
@edwardhartnett What error(s) are you getting?

[2020-01-06 20:30] underwoo commented on #256
I spoke to the users/developers that have used `oda_tools` in the past.  Most of the useful bits will be included in a future MOM6 release.  The other needed bits will be migrated to other repositories where they are needed.

[2020-01-06 21:34] underwoo commented on #101
PRs #255 and  #258 will resolve this issue.

[2020-01-07 15:05] #256 closed

[2020-01-08 16:18] #214 closed

[2020-01-08 19:55] underwoo commented on #248
Since these will be removed when FMS retires the current IO processes (as these will be removed), I'm closing this issue.

[2020-01-08 19:55] #248 closed

[2020-01-09 18:19] #101 closed

[2020-01-12 16:54] underwoo commented on #246
The new FMS IO does not use this macro. Closing for now. May reopen if needed.

[2020-01-12 16:54] #246 closed

[2020-01-13 17:11] edwardhartnett commented on #202
Is this not working for you?

[2020-01-13 17:46] underwoo commented on #202
It is.  I thought the commit that changes this was in (but this issue didn't get closed).  The PR that has the fix will be merged after a few other PRs are merged as I'll need to do some additional work on the autotools PR.  Hopefully by the end of the week that PR will be merged.

[2020-01-17 23:41] underwoo opened #264 "fms2_io/fms_io_utils.F90 exposes all internal and `use`d interfaces and variables"
**Describe the bug**
The `fms2_io/fms_io_utils.F90` does not have a `private` statement to set the default sharing of the module variables and routines to private.  This exposes all of the modules own variables and any variables/routine included via the Fortran `use` statements.

`fms2_io/fms_io_utils.F90` also does not have `implicit none`.  This should be added when fixing the other bug.

**To R

[2020-01-21 13:04] thomas-robinson commented on #264
@underwoo are you fixing this?  If not, I can work on it.

[2020-01-21 15:30] wrongkindofdoctor commented on #264
@underwoo @thomas-robinson @uramirez8707 I believe @menzel-gfdl intended for most of the routines to be public, and that it is up to users to implement the code responsibly. If others disagree, then I will approve the changes.

[2020-01-21 15:41] thomas-robinson commented on #264
@wrongkindofdoctor the problem is that it also exposes mpp and iso_fortran_env.  blackbox_io.F90 was getting these things through fms_io_utils.F90.

[2020-01-21 16:11] wrongkindofdoctor commented on #264
Got it. I approve of privatizing fms_io_utils.

[2020-01-21 17:16] #264 closed

[2020-01-22 17:27] jedwards4b commented on #100
@edhartnett How will using PIO like this in the FMS library work in an executable (CESM) that also has components that use PIO directly?

[2020-01-22 17:35] edwardhartnett commented on #100
Good question!

[2020-01-22 17:47] jedwards4b commented on #100
An important question that I think we need to answer before moving forward since both the fv3 atmosphere and the mom ocean are potential cesm components.

[2020-01-23 19:12] #234 closed

[2020-01-23 19:16] #252 closed

[2020-01-30 16:45] thomas-robinson opened #269 "diag_manager "pos" argument is inconsistent"
**Is your feature request related to a problem? Please describe.**
[diag_axis_init](https://github.com/NOAA-GFDL/FMS/blob/master/diag_manager/diag_axis.F90#L156) has an optional argument `pos`, but the fms2_io uses `domain_position` as its argument.  These are inconsistent

**Describe the solution you'd like**
diag_axis_init and other subroutines should be updated to use `domain_position` instead

[2020-01-30 19:59] menzel-gfdl opened #271 "Remove platform/platform.F90 and use iso_fortran_env instead."
**Feature request**
The only purpose of the platform/platform.F90 module is to provide kind parameters.
Fortran now provides intrinsic modules that can be used instead.

**Proposed solution**
Replace lines that contain:
```use platform_mod, only: r8_kind, etc.```
with
```use, intrinsic :: iso_fortran_env, only: real64, etc.```

**Additional context**
This can also be used to eliminate lines that c

[2020-01-30 20:19] menzel-gfdl opened #272 "Incorrect indexing for on-grid variables in time_interp/time_interp_external2.F90"
**Describe the bug**
There is an indexing bug when "on-grid" variables are read in using ```fms2_io``` in ```time_interp/time_interp_external2.F90```.  All ranks read data starting at ```(lon, lat)``` indices ```(1, 1)```, instead of the indices ```(is_src, js_src)``` calculated from the model's domain.

**To Reproduce**
Run any model that uses ```data_override``` with at least one "on-grid" varia

[2020-01-31 23:48] DusanJovic-NOAA opened #276 "Compile error in affinity.c"
**Describe the bug**
I am building FMS (as part of ufs-weather-model) on Ubuntu 19.10. I get this error:
[code]
We use FMS tag 2019.01.01

**To Reproduce**
Build FMS on Ubuntu 19.10

**Expected behavior**
Compile without error

**System Environment**
Describe the system environment, include:
- OS: Linux, Ubuntu 19.10
- Compiler(s): gcc 9.2.1
- MPI type, and version mpich3
- netCDF Version: netcdf-

[2020-02-01 00:39] marshallward commented on #276
There's more info about this issue here:

    https://github.com/NOAA-GFDL/FMS/pull/196

The short answer is that Linux defines its own `gettid` with an incompatible header, but this seems to only be an issue on newer Linux environments (perhaps GCC 9.x or a newer libc).

It's been solved in the mainline repository by running autotools (i.e. `./configure ; make`) which conditionally sets the `-DHA

[2020-02-01 13:32] DusanJovic-NOAA commented on #276
Thank you @marshallward. And thanks for pointing to that issue. Yes removing static keyword solved the problem, temporarily. Since in UFS we pull FMS as a submodule and compile it using UFS's cmake (or gnu make) build. We do not use autotools.

Just curious, why do you think definition of ``gettid`` header in Linux is incompatible? It looks like it was introduced in glibc 2.30 ( https://lwn.net/Ar

[2020-02-01 15:13] marshallward commented on #276
I think you may have solved the mystery: the system call has been around for ages (which is why I had been confused) but the interface was only recently added to libc.  I also noticed this on the manpage:

As for the error, I think it's just an incompatible header.  If you have a generic header:
[code]
then you get an error.  I suppose one reason for the error is to avoid logical inconsistency, si

[2020-02-03 16:37] wrongkindofdoctor commented on #276
Thank you, @marshallward for pointing @DusanJovic-NOAA toward the related issue, and for clarifying possible reasons for the error.

[2020-02-03 16:37] #276 closed

[2020-02-03 21:19] menzel-gfdl opened #277 "Bug in get_axis_cart in axis_utils/axis_utils2.F90"
**Describe the bug**
The code crashes in the ```get_axis_cart``` subroutine in  the ```axis_utils/axis_utils2.F90``` module
when the file being read does not contain a ```axisname``` variable.

**To Reproduce**
Call the ```get_axis_cart``` subroutine and input the name of a dimension from a netCDF dataset that does not have a corresponding variable.

**Expected behavior**
If no variable exists for

[2020-02-04 18:01] uramirez8707 opened #278 "Time_interp_external does not read times correctly"
**Describe the bug**
In time_interp_external2.F90, [L360](https://github.com/NOAA-GFDL/FMS/blob/24005637ff5faf10c4d946bf8e732da5d239b395/time_interp/time_interp_external2.F90#L360), the code is reading `average_T1` as `tstart`, `tend` and `tavg` ...

[code]

**To Reproduce**
Run any experiment that doesn't use an empty diag_table and you would see answer changes

**Expected behavior**
The code sho

[2020-02-04 18:01] uramirez8707 commented on #278
Also `tavg` is not used anywhere in the code so we can *probably* get rid of it

[2020-02-04 19:05] wrongkindofdoctor commented on #278
@underwoo Can we merge this now since it's critical for regression testing?

[2020-02-05 19:48] thomas-robinson opened #281 "Regional diag output needs update for non-domain decomposed write"
**Describe the bug**
Regional diagnostic output does not work because it is it being opened as a domain decomposed file.  In the case of regional output, every core should be writing its own file.

**To Reproduce**
Run with regional diagnostic output

**Expected behavior**
The files should be written on a per-core basis and not using the io_domain

**System Environment**
This is all environments.

[2020-02-05 19:48] thomas-robinson commented on #281
@menzel-gfdl @nikizadehgfdl please add any context that I have missed to this issue for tracking.

[2020-02-05 22:18] menzel-gfdl opened #282 "Change nx to ny in call to get_domain_decomposed_index"
**Describe the bug**
The line

```dpos = get_domain_decomposed_index(dimname, fileobj%ydims, fileobj%nx)```

should be changed to

```dpos = get_domain_decomposed_index(dimname, fileobj%ydims, fileobj%ny)```

in the ```get_global_io_domain_indices``` subroutine in the file ```fms2_io/fms_netcdf_domain_io.F90```.
This bug can cause the search for the domain-decomposed y dimension to fail.

**To Rep

[2020-02-06 00:06] nikizadehgfdl commented on #281
The symptoms are
[code]

@thomas-robinson Here's a xml/experiment that let's you reproduce this issue on a 64 pes.
However before that you'll need to merge Ray's and Eric's updates to FMS/master (which this xml checks out). You'll also need to merge PR #284 .

[code]

[2020-02-06 11:44] thomas-robinson commented on #281
@nikizadehgfdl which updates specifically need to be merged in?

[2020-02-06 16:07] nikizadehgfdl commented on #281
@thomas-robinson  #283  #284  #285

[2020-02-06 18:47] #282 closed

[2020-02-06 18:49] thomas-robinson commented on #281
@nikizadehgfdl `MOM6_GOLD_SIS2_bergs` ran to completion.  Is there a different experiment I should try?

[2020-02-06 18:58] #272 closed

[2020-02-06 19:01] nikizadehgfdl commented on #281
@thomas-robinson  Do you mean after you fixed  the regional diagnostics or before any such fix?
Please make sure there is the following lines in the diag_table:
[code]

If you fixed it and want to try other tests then you can try the other xml/experiment
[code]

[2020-02-06 19:08] #278 closed

[2020-02-06 22:26] uramirez8707 opened #287 "variable not initiliaze in get_valid function in netcdf_io.F90"
**Describe the bug**
valid%has_missing in get_valid function in netcdf_io.F90 is not initialized and it is only set if the variable has the `missing_value` attribute so the compiler could be using a value that is stored in memory

This was causing answer changes in repro and prod runs when running on intel

**To Reproduce**
Run in repro or prod with awg_xml

**Expected behavior**
All variables sho

[2020-02-07 13:42] thomas-robinson commented on #281
@nikizadehgfdl are the files supposed to come out like 00010101.ocean_Barents_opening.nc.**0054** or 00010101.ocean_Barents_opening.nc.**54**?  What is the format of the numbers on the end?

[2020-02-07 15:42] #287 closed

[2020-02-07 19:23] #277 closed

[2020-02-07 20:35] #241 closed

[2020-02-11 14:47] thomas-robinson opened #295 "Add Colin as a code owner"
**Is your feature request related to a problem? Please describe.**
Colin Gladue is one of the new code owners of this repository.

**Describe the solution you'd like**
Colin should be added to the CODEOWNERS file as a general owner and for all of the tests.

**Describe alternatives you've considered**
There is only one solution.

**Additional context**

[2020-02-11 18:25] uramirez8707 opened #297 "valid%has_missing and valid%missing_val are not broadcast to the other ranks"
**Describe the bug**
If the value of valid%has_missing is changed in the [get_valid](https://github.com/NOAA-GFDL/FMS/blob/b855c0467580f217506ac7724bb154d8a4117a5a/fms2_io/netcdf_io.F90#L1470) routine it won't be broadcast to the other ranks.

**To Reproduce**
Run with any file and variable that has the "missing_value" attribute.

**Expected behavior**
The values of valid%has_missing should be bro

[2020-02-11 18:45] uramirez8707 opened #299 "mpp_io test is run twice"
**Describe the bug**
If the system has less than 12 processors it will run the mpp_io test twice.
Once [here](https://github.com/NOAA-GFDL/FMS/blob/b855c0467580f217506ac7724bb154d8a4117a5a/test_fms/mpp_io/test_mpp_io2.sh#L37) with the "unsubscribed" option if it is available and then again [here](https://github.com/NOAA-GFDL/FMS/blob/b855c0467580f217506ac7724bb154d8a4117a5a/test_fms/mpp_io/test_mp

[2020-02-11 18:50] uramirez8707 opened #300 "Add option for the user to specify the mpi launchers they want to use?"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
The configure script should allow the user to specify what mpi launcher they want to use, something like `./configure --mpi_launcher="mpirun"`

The configure script will then check that the launcher is in the path and use it ...

**Describe alternatives you've considered**
Currently the con

[2020-02-11 18:51] uramirez8707 commented on #300
@underwoo is this what you had in mind?

[2020-02-12 15:10] nikizadehgfdl opened #301 "cannot recompile if source files are modified"
**Describe the bug**
When I modify FMS source code (to debug) the recompile fails with internal compiler error (Intel16,18) like:
[code]

**To Reproduce**
After a successful build, modify a source file (may be particularly fms2_io/fms_netcdf_domain_io.F90) and then try to recompile.

**Expected behavior**
If  the modifications are valid Fortran code it should recompile successfully.

**System Envi

[2020-02-12 15:16] nikizadehgfdl commented on #301
Chris says this has to do with fre/test. Indeed  I can recompile with fre/bronx-15.
This is a FRE bug. Closing.

[2020-02-12 15:16] #301 closed

[2020-02-12 16:03] nikizadehgfdl opened #302 "AMIP4.1 crashes with size of x dimension of input buffer does not match size of x dimension of data or compute domain"
**Describe the bug**
The AMIP4.1 model is again crashing  (used to run sometime last week):
[code]

I added a print statement in fms_netcdf_domain_io.F90 :
[code]
and got
[code]
So it seems data_xsize=1+xc_size and data_ysize=1+yc_size
**To Reproduce**
Run AMIP4.1 (or probably AMIP4) experiments with master and the land update
https://gitlab.gfdl.noaa.gov/fms/lm4P/merge_requests/32

**Expected beh

[2020-02-12 16:08] nikizadehgfdl commented on #302
@menzel-gfdl , didn't you solve a similar issue last week?

[2020-02-12 16:25] menzel-gfdl commented on #302
@nikizadehgfdl My first guess would be that some domain position arguments are missing for a few calls to ```diag_axis_init```.  Calls to ```diag_axis_init``` for longitudinal(latitudinal) axes that are on cell edges must include the ```pos=EAST```(```pos=NORTH```) argument.

[2020-02-12 16:28] thomas-robinson commented on #302
`pos` changes to `domain_position` in #270 .

[2020-02-12 16:39] nikizadehgfdl commented on #302
Thanks @thomas-robinson , I was using dev/master of cubed-sphere rather than master in the xml by mistake. Retrying.

[2020-02-12 16:39] #302 closed

[2020-02-12 17:28] thomas-robinson commented on #301
For reference, the issue they are working on is NOAA-GFDL/mkmf#33

[2020-02-12 20:00] underwoo opened #303 "Clean up MPP code"
**Is your feature request related to a problem? Please describe.**
The code in MPP has many different paths, depending on the type of build: MPI, non-MPI, ShaMEM.  The ShaMEM option has not been used in many years, and has likely not received required updates that were made in the MPI.  The non-MPI build, at this time, is not possible.  This is due to new _template_ preprocessor macros not placed

[2020-02-13 18:11] #269 closed

[2020-02-13 18:16] #295 closed

[2020-02-13 18:41] #149 closed

[2020-02-13 18:41] #202 closed

[2020-02-13 18:45] #281 closed

[2020-02-13 18:46] #297 closed

[2020-02-13 19:23] thomas-robinson opened #304 "diag_manager regional output test"
**Is your feature request related to a problem? Please describe.**
There is currently no test in FMS to test the diag_manager with regional output.

**Describe the solution you'd like**
[test_diag_manager.F90](https://github.com/NOAA-GFDL/FMS/blob/master/test_fms/diag_manager/test_diag_manager.F90) should get another test added to it that runs with a regional diagnostic output, and a new diag_tabl

[2020-02-13 20:15] thomas-robinson opened #305 "test_mpp_memuse.F90 error"
**Describe the bug**
When I run a `make check` with an intel compiler, I encounter the following error:
[code]

**To Reproduce**
On the lscsky50-d
[code]

**Expected behavior**
This test should compile

**System Environment**
Describe the system environment, include:
- OS:
- Compiler(s): intel19
- MPI type, and version: impi
- netCDF Version: 4.6.1
- Configure options: FCFLAGS="-fno-alias -auto -s

[2020-02-13 20:15] thomas-robinson commented on #305
@uramirez8707 can you reproduce this?  If you do, I will add it to the 2020.01 project.

[2020-02-13 20:30] underwoo opened #306 "Remove shmem build configuration"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Remove shmem as a build option from libFMS/mpp

**Describe alternatives you've considered**
Shmem no longer used, or needed.

**Additional context**
Part of #303

[2020-02-13 20:39] uramirez8707 commented on #305
@thomas-robinson yep, make check fails on skylake now. I also tried it with intel20 and get the same error

[2020-02-13 21:00] thomas-robinson commented on #305
How is this passing make distcheck?

[2020-02-13 21:03] underwoo opened #307 "use_libMPI and use_netCDF set twice in configure.ac"
**Describe the bug**
The preprocessor macros use_libMPI and use_netCDF are set two times in the configure.ac

**To Reproduce**
Nothing needed to reproduce

**Expected behavior**
The macros should only be set one time.

**System Environment**
All systems

**Additional context**
This is likely from a merge that introduced this.

[2020-02-13 21:31] #307 closed

[2020-02-13 23:06] underwoo commented on #78
This was merged in with #181.  Closing.

[2020-02-13 23:06] #78 closed

[2020-02-13 23:32] underwoo opened #309 "test_common.sh.in contains syntax errors"
**Describe the bug**
The test_common.sh.in file, which becomes test_common.sh after configure is run, contains a syntax error in the `if` statement on line 62:

[code]

**To Reproduce**
Build the job using GNU autotools, and run `make check`.  Look at all the `*.log` files, some will contain an error.

**Expected behavior**
The `*.log` files will not have an error due to shell syntax.

**System En

[2020-02-13 23:42] underwoo commented on #305
Discovered the problem.  I didn't realize the Fortran `STOP` intrinsic only accepted constant integers or character strings.  GNU Fortran appears to not honor that restriction.  I'll have an update for this.

[2020-02-14 00:23] underwoo opened #312 "Travis CI shows warnings due to settings in .travis.yml"
**Describe the bug**
Travis CI issues warning based on our configuration

**To Reproduce**
Run CI on Travis CI with our config file.

**Expected behavior**
No warnings issued when run on Travis CI

**System Environment**
Travis CI system as defined in .travis.yml

**Additional context**
None

[2020-02-14 00:46] underwoo commented on #212
@wrongkindofdoctor is this still an issue, or was it fixed in #236?

[2020-02-14 15:31] #212 closed

[2020-02-14 15:31] wrongkindofdoctor commented on #212
Fixed in #236

[2020-02-14 16:28] thomas-robinson commented on #305
#310 worked for me when I tried it.

[2020-02-16 02:17] underwoo commented on #42
If the current `inlcude/fms_platform.h` isn't sufficient, please reopen this issue.

[2020-02-16 02:17] #42 closed

[2020-02-16 02:18] #165 closed

[2020-02-16 02:22] underwoo commented on #244
The new fms_io code is now in the master branch.  We will do some cleanup on the MPP code, but feel free to write whatever check tests you would like.

[2020-02-16 02:24] underwoo commented on #271
We have plans to modify how fms_platform.h and the platform_mod are used.  We may not eliminate them, but will likely use the platform_mod to _wrap_ the iso_fortran_env.  This will eliminate the possibility of one module in FMS using a different real, int, etc from another.

[2020-02-16 12:20] edwardhartnett commented on #244
OK great! At the moment I am adding some new compression options to netcdf. (Look for them soon!)

I will circle around to this again and add some tests...

[2020-02-18 16:02] wrongkindofdoctor opened #315 "Memory error after new read_data calls mpp_util_mpi.inc:get_peset"
**Describe the bug**
Running the MOM6 [SIS2 experiment](https://github.com/NOAA-GFDL/MOM6-examples/tree/dev/gfdl/ice_ocean_SIS2/SIS2) with the new IO in MOM6 on 60--120 pes results in the following error after read_data is called for a 2-D domain-decomposed array:
`*** Error in MOM6: malloc(): memory corruption: 0x0000000009d0b320 ***`

**To Reproduce**
compile FMS:master, FMScoupler:master, MOM6:

[2020-02-18 16:03] wrongkindofdoctor commented on #315
Tagging @bensor and @menzel-gfdl for help.

[2020-02-18 16:54] menzel-gfdl opened #316 "libsat_vapor_pres_k.la and libsat_vapor_pres.la missing from libFMS.la?"
**Describe the bug**
I think the libraries `libsat_vapor_pres_k.la` and `libsat_vapor_pres.la` are not included in `libFMS.la.`  When I try to build an executable and link in `libFMS.a`, I get undefined references if I
try to call routines from those modules.

**To Reproduce**
Build an executable, link in `libFMS.a`, and try to call routines from those modules.

**Expected behavior**
Linking in `l

[2020-02-18 16:55] underwoo commented on #316
This appears to be correct.  We will get this corrected.

[2020-02-18 16:58] menzel-gfdl opened #317 "libMersenneTwister.la and librandom_numbers.la also missing?"
**Describe the bug**
Same as issue #316, but for libraries `libMersenneTwister.la` and `librandom_numbers.la`.

[2020-02-18 17:42] thomas-robinson commented on #304
See #281 for an example diag_table entry for regional output.  I think the send_data and register_diag_field calls are the same for global and regional output.  It's just how the internal diag_manager handles the output is different.

[2020-02-18 17:52] wrongkindofdoctor commented on #315
@menzel-gfdl It turns out that the error originated from registering domain-decomposed axes associated with `tideamp` as non-decomposed axes because the (admittedly hackey) [procedure](https://github.com/wrongkindofdoctor/MOM6/blob/5835509e20e655005701550d18974a4935c6bac4/src/framework/MOM_io.F90#L2990) I wrote to register variable axes from files did not include cases for 'grid_z_t' and 'grid_y_t

[2020-02-18 17:52] #315 closed

[2020-02-21 17:45] wrongkindofdoctor opened #319 "MOM6+SIS2+diag_manager w/new IO sometimes crashes when writing scalars"
**Describe the bug**
The [2 first calls](https://github.com/wrongkindofdoctor/MOM6/blob/7e2ccc1dd837e4f82ff22d4cd38d3bc8bde87930/src/diagnostics/MOM_sum_output.F90#L887) to to the fms2_io write_data interface by MOM6_sum_output:write_energy is routed to [compress_write_0d](https://github.com/NOAA-GFDL/FMS/blob/e1c0d9d01d844938adc0d18afa09532f336bcdfe/fms2_io/include/compressed_write.inc#L5). Rando

[2020-02-21 19:07] thomas-robinson commented on #319
@wrongkindofdoctor Do you know what the value equals?  Is the variable being registered with multiple axes?

[2020-02-21 19:45] thomas-robinson commented on #319
@wrongkindofdoctor do you have more explicit instructions for compiling and running?

[2020-02-24 18:50] GFDL-Eric opened #321 "Data Override Does not Reproduce Answers when fill value and missing value are present and equal."
**Describe the bug**
Valid values are not being read properly by time_interp_external2 when both a missing value and fill value are present in the variable and they are of equal value. This seems to be a rare occurrence in a variable for data_override, but it does exist. This is resulting in answer changes from Xanadu.

**To Reproduce**
Run AM4.1 with e1c0d9d01d844938adc0d18afa09532f336bcdfe or ea

[2020-02-24 21:30] colingladueNOAA opened #322 "Make Check fails in skylake box"
**Describe the bug**
Make check fails in test_mpp_domains2 with the following crash:

[code]

**To Reproduce**
Fails this way specifically while testing pull request #310 in skylake with intel.
With shell commands:
[code]

**Expected behavior**
Make check should pass.

**System Environment**
Describe the system environment, include:
- OS: [Skylake Box
- Compiler(s): Intel2020
- MPI type, and versi

[2020-02-27 15:54] thomas-robinson opened #324 "Release notes for 2020.01"
**Is your feature request related to a problem? Please describe.**
The release notes in CHANGELOG.md are scarce at best

**Describe the solution you'd like**
Please list changes made to the code in the CHANGELOG.md file

**Describe alternatives you've considered**
This is not a job for a single person, everyone has to contribute

**Additional context**

[2020-02-27 19:31] colingladueNOAA commented on #322
If PR #310 and PR #311 are run together, the make check does pass, but largely because the computer is told to skip the previously failing test.

[2020-02-27 20:39] #316 closed

[2020-02-27 20:39] #317 closed

[2020-02-27 20:40] #305 closed

[2020-02-27 20:40] #309 closed

[2020-02-27 20:41] #312 closed

[2020-02-27 20:42] #321 closed

[2020-02-27 23:54] nickcctong opened #325 "Problem writing sub-hour forecast outputs."
I've been trying to output forecast fields in 15 or 30 minute intervals, but neither of them worked.
What I did was specifying the header part of the diag_table as:
"fv3_history",            30,  "minutes",    1, "hours", "time"
"fv3_history2d",          30,  "minutes",    1, "hours", "time"
I requested a total integration length of 5 hours, but the model always died at the 7200 sec with error:
**

[2020-02-28 02:22] #325 closed

[2020-02-28 12:33] thomas-robinson commented on #325
@nickcctong did you find a solution?  If yes, what was the problem?

[2020-02-28 15:30] nickcctong commented on #325
@thomas-robinson Unfortunately, no. I deleted the issue because I figured it is actually the EMC version of FV3 that runs into this problem. So I reopened an issue at the NCAR/NEMSfv3gfs repository.

[2020-02-28 16:00] thomas-robinson commented on #325
@nickcctong Alright then.  The first thing I would check is if your time step actually lands on the interval you're trying to write to.  Good luck.  If it's related to the diag_manager at all, let us know.

[2020-02-28 22:10] wrongkindofdoctor commented on #319
This can be resolved by leaving file open while sequential calls are made to write_data. Note that the user has to ensure that the file object does not go out of scope between calls to write data. See an example of the workaround implemented in the MOM_io write_field interfaces is [here](https://github.com/wrongkindofdoctor/MOM6/blob/018c062255d23104c45f5584b31a150d5af590b4/src/framework/MOM_io.F9

[2020-02-28 22:10] #319 closed

[2020-03-03 15:38] wrongkindofdoctor opened #327 "Method to check if an axis is registered to a netCDF file object"
**Is your feature request related to a problem? Please describe.**
There is no way for the user to check whether an axis is registered to a netcdf file object in the new fms IO code. Checking for axis registration is necessary for cases when domain-decomposed variables are written to the same file without opening and closing the file in between writes, as the MOM6 code does [here](https://github.c

[2020-03-03 16:28] thomas-robinson commented on #327
@wrongkindofdoctor are you running this through the diag_manager?

[2020-03-03 17:13] wrongkindofdoctor commented on #327
No. It's currently only needed in MOM_io.

[2020-03-09 21:29] wrongkindofdoctor opened #330 "Error in buffer_pos size after MOM calls mpp_do_group_update"
**Describe the bug**
A call to mpp_do_group_update in a coupled ice-ocean run with FMS master produces the following error
`set_group_update: update_buffer_pos .NE. unpack_buffer_pos`
The message originates in [mpp_domains_util.h:set_group_update](https://github.com/NOAA-GFDL/FMS/blob/b68de5382a5ce631ddd6167de8d85f7c9ae54351/mpp/include/mpp_domains_util.inc#L1929)

**To Reproduce**
Compile[ MOM6+n

[2020-03-11 15:00] menzel-gfdl commented on #330
@wrongkindofdoctor @bensonr

Looking in the debugger, in the `set_group_update` subroutine in `mpp_domains_mod` the variables
`update_s%recv(m)%msgsize(n)`, `update_x%recv(m)%msgsize(n)`, `update_y%recv(m)%msgsize(n)` sometimes contain negative values.  The `update_buffer_pos` variable depends on these values through calls to
[code]
, but is calculated inside a `if (msgsize .gt. 0)` conditional, a

[2020-03-11 17:30] wrongkindofdoctor commented on #330
@menzel-gfdl, @bensonr
The problem does not appear to originate from the `group` structure passed to `mpp_do_group_update`. Instead, the `msgsize` attributes of the `update_y` structures is initially a negative integer on some of the  pes. `update_y` is a pointer initialized to NULL(), and points to the result from[ `search_update_overlap(domain, group%whalo_v, group%ehalo_v, group%shalo_v, group%

[2020-03-11 19:52] wrongkindofdoctor commented on #330
Update: the same behavior occurs in this experiment compiled with FMS/master but without any of the new IO implemented in MOM or SIS2.

[2020-03-12 14:45] uramirez8707 commented on #330
@wrongkindofdoctor Do you know if this behavior is present in FMS/xanadu? (or any of the previous releases)

[2020-03-12 16:13] wrongkindofdoctor commented on #330
I'm not sure, but I'm going to test the last 2 releases today.

[2020-03-13 19:27] #327 closed

[2020-03-13 21:34] #324 closed

[2020-03-16 16:07] thomas-robinson opened #334 "Fixing the diag_manager test"
@colingladueNOAA indicates that this is where test 12 is failing:
https://github.com/NOAA-GFDL/FMS/blob/429085c18b4ddee2dd5ab9facd773aa6a1597939/diag_manager/diag_manager.F90#L749-L753

The diag manager should be initialized, so that's the first thing to look out for.

Secondly, if this is supposed to fail, you could add the `err_msg` variable as an optional argument to [register_static_field](htt

[2020-03-16 17:58] underwoo commented on #322
@colingladueNOAA, are you still working on this?

[2020-03-16 18:02] colingladueNOAA commented on #322
@underwoo, I am currently working on fixing all of the skipped unit tests in the FMS make check, and test_mpp_domains2.sh is one of them.

[2020-03-16 19:14] underwoo commented on #322
Just wanted to know so I could move this from the 2020.01 project to 2020.02.

[2020-03-17 13:49] thomas-robinson opened #336 "Record tag hashes in changelog"
**Is your feature request related to a problem? Please describe.**
We will delete the alpha and beta tags from the repository at each release.  The hash for each tag should be recorded for reference.

**Describe the solution you'd like**
Record the hash for each tag used for testing in the CHANGELOG

**Describe alternatives you've considered**

**Additional context**

[2020-03-17 19:43] underwoo opened #338 "GitHub Actions"
**Is your feature request related to a problem? Please describe.**
The new GitHub actions allow more control over the test outcome than the Travis CI.  We should begin migrating our CI tests to GitHub actions.

**Describe the solution you'd like**
Most of the tests in FMS should be run through GitHub actions.  We can still use other CI (e.g. Travis) when those have options we cannot test through G

[2020-03-17 20:16] wrongkindofdoctor commented on #330
As Niki pointed out [here](https://github.com/NOAA-GFDL/MOM6-examples/issues/305#issuecomment-600191068), this issue occurs with a larger amount of pes than the small physical domain can handle. Using -n <= 8 causes the run to complete successfully.

[2020-03-17 20:16] #330 closed

[2020-03-18 13:29] uramirez8707 opened #340 "fms2io: Opening a file that is already open leaves the fileobj rootless"
**Describe the bug**
When opening a file, `fileobj%is_root` is initialize as false: https://github.com/NOAA-GFDL/FMS/blob/8f3d7ab3184495fc0bfac7fc1e9a1a951c98c144/fms2_io/netcdf_io.F90#L410

`fileobj%is_root` is then set later in the subroutine: https://github.com/NOAA-GFDL/FMS/blob/8f3d7ab3184495fc0bfac7fc1e9a1a951c98c144/fms2_io/netcdf_io.F90#L447

However, if you call `open_file` on a file that

[2020-03-18 13:29] uramirez8707 commented on #340
@menzel-gfdl

[2020-03-18 13:51] uramirez8707 opened #341 "Modify get_global_io_domain_indices to output buffer of axis data"
**Is your feature request related to a problem? Please describe.**
When writing x/y axis data, I have to:

1.  call `get_global_io_domain_indices` to get the starting and ending indices for each dimension
2. allocate a buffer the size of the difference between the ending and starting dimensions
3. add the data to the buffer

and I have to do this for every axis, for every restart, for every model

[2020-03-18 14:04] thomas-robinson commented on #340
You shouldn't be opening a file that's already open. That would cause some crazy behavior.

There are a few routines/functions that check if a file is opened before opening.  Here is the implementation in the (diag_manager)[https://github.com/NOAA-GFDL/FMS/blob/master/diag_manager/diag_output.F90#L204].  If checks if the file is open, and if it isn't opened, then the file is opened.

[2020-03-18 14:11] uramirez8707 commented on #340
ok, but `open_file` allows the user to do this in
[code]

Also, the functions that checks if the file is open do the same thing as that ^

[2020-03-18 14:30] thomas-robinson commented on #340
The checks should be run when opening a file anyway.  You shouldn't just be running open_file without checking if it's opened first.

I don't see any problem with moving https://github.com/NOAA-GFDL/FMS/blob/8f3d7ab3184495fc0bfac7fc1e9a1a951c98c144/fms2_io/netcdf_io.F90#L410 Down lower to right above where the root PEs are set up https://github.com/NOAA-GFDL/FMS/blob/8f3d7ab3184495fc0bfac7fc1e9a1a

[2020-03-18 14:48] wrongkindofdoctor commented on #340
@thomas-robinson is correct: I implement this check as:

`if (.not.(check_if_open(fileObj))) call open_file(fileobj,...)`

[2020-03-18 15:05] menzel-gfdl commented on #340
@thomas-robinson I disagree with "You shouldn't just be running open_file without checking if it's opened first."  It doesn't make much sense to me to check if the file is open if I already know that it isn't.  I agree with @uramirez8707 that there is an issue with how the code is currently written.  If you do not want to allow multiple calls to` open_file` on the same file object, then change the

[2020-03-19 18:02] GFDL-Eric opened #345 "Failure in compiling FMS with GNU compiler and autotools on Gaea"
**Describe the bug**
The configure script fails when checking to see if "CC" can compile a C program. The error is `configure: error: C compiler cannot create executable`.

**To Reproduce**
I've tried to replicate the environment created by FRE to the best of my ability in terms of replicating env.defaults.gnu and gnu.mk. This is the script I run:

[code]

**Expected behavior**
At a minimum, I wou

[2020-03-19 18:08] wrongkindofdoctor commented on #345
pulling @uramirez8707 into the conversation for his autotools wisdom. I'll see if I can replicate the problem since I'm testing stuff on Gaea.

[2020-03-19 18:28] thomas-robinson commented on #345
@GFDL-Eric do you have mpich loaded?

[2020-03-19 18:33] GFDL-Eric commented on #345
@thomas-robinson cray-mpich/7.4.0 is loaded from the `module use -a ~fms/local/modulefile` line in my .cshrc... should I not have that line in there?

[2020-03-19 19:58] GFDL-Eric commented on #345
I took out `-no-install` in the LDFLAGS and everything is golden! Thanks @uramirez8707 @wrongkindofdoctor @thomas-robinson !!

[2020-03-19 19:58] #345 closed

[2020-03-19 21:02] wrongkindofdoctor opened #346 "Supergrid input buffer size does not match read_data buffer in MOM OM4_025 test case"
**Describe the bug**
The first call to the new read_data routines via the MOM wrappers from  [set_grid_metrics_from_mosaic](https://github.com/wrongkindofdoctor/MOM6/blob/5f9b0240e5004b6fa6ca87a57db5025dde36e22d/src/initialization)
/MOM_grid_initialize.F90#L273) when using the MOM6-examples/ICE_OCEAN_SIS2/OM4_025 test with the new IO generates the following error:
` FATAL from PE   256: NetCDF: St

[2020-03-20 13:09] uramirez8707 opened #347 "fsm2io: compute_global_checksum.inc doesn't support `kind=real32`"
**Describe the bug**
@laurenchilutti  reported the following error when implementing the new io into GFDL_atmos_cube_sphere master:

`
FATAL from PE     7: unsupported type
`

The fatal happens in `compute_global_checksum.inc`.
The variable that it is trying to calculate the checksum for is a `kind=real32`.
The part of the code that handles this is type is commented out: https://github.com/NOAA-GF

[2020-03-20 13:13] thomas-robinson commented on #347
@laurenchilutti is this required for the nesting updates #227

[2020-03-20 13:20] uramirez8707 commented on #347
@thomas-robinson no this is just for you are using the new_io to write `kind=real32`
#227 without the new io changes to cube_sphere works

[2020-03-20 13:20] laurenchilutti commented on #347
@thomas-robinson #227 worked fine before I implemented fms2 io.  This issue came up when I made changes to GFDL_atmos_cubed_sphere to implement fms2 io.

I wouldn't say that this is "required" for the nesting updates in #227.

[2020-03-20 13:43] thomas-robinson opened #350 "fmsio object can't be modified when buffer is updated"
**Describe the bug**
The error I receive when trying to compile with the cray compiler is
[code]
The relevant code looks like this:
[code]
[code]
In `netcdf_restore_state` is dclared with `intent(in)` but the data buffer is trying to be modified in `netcdf_read_data`

**To Reproduce**
Compile with the cray compiler to see this error:
[code]

**Expected behavior**
This should compile.  The data buf

[2020-03-20 17:56] wrongkindofdoctor commented on #346
To add a bit of context, set_grid_metrics_from_mosaic has 4 temporary arrays (t[mpU, tmpV, tmpZ
tmpT](https://github.com/wrongkindofdoctor/MOM6/blob/c24535733cf371784d8a0067e9b7c6b1e4054d69/src/initialization/MOM_grid_initialize.F90#L184)) that are allocated as 2*(size of data domain) +/- some offset depending on the type of grid (C, B, etc...) they are mapping to. To avoid performance issues, thi

[2020-03-20 18:22] #341 closed

[2020-03-20 19:15] underwoo commented on #336
@colingladueNOAA @thomas-robinson I think in the future, it would be better to create a GitHub wiki page that records this information.  Knowing this information, in my opinion, is really for short term need (on the order for no more than a year or so).

The wiki, like the repository is a git repository.  But unlike the repository, doesn't carry with it the overhead.

[2020-03-20 20:11] uramirez8707 commented on #350
@thomas-robinson  are you compiling with fre or autotools?

[2020-03-20 20:29] #340 closed

[2020-03-20 20:46] #334 closed

[2020-03-23 09:03] thomas-robinson commented on #350
FRE in this case.  This should also fail with autotools, but I haven't actually tested it. I believe the file object just needs to be changed from `in` to `inout`.

[2020-03-23 19:09] GFDL-Eric opened #353 "Gaea autotools compile on Gaea fails on configure when checking for cray pointers"
**Describe the bug**
When attempting to compile FMS on Gaea with autotools, configure fails when the check for cray pointers is attempted.

**To Reproduce**
Clone FMS, set up the environment to compile with Cray, run autoreconf and then configure.

**Expected behavior**
I sure do expect the Cray compiler to support Cray pointers. I've noticed a couple odd things in the test that's performed, and w

[2020-03-23 21:09] menzel-gfdl commented on #346
The I/O is only set up to do domain-decomposed reads into buffers that are either the size of the compute domain, or the size of the compute domain + size of the halos.  I don't think 4 reads vs. 1 read is really anything to worry about performance-wise, unless these reads are happening over and over again.

[2020-03-23 21:12] marshallward commented on #346
I'm sorry that I haven't answered, as this isn't something that I have looked at before or know much about.  But I am guessing the issue is because you are reading `x` on a supergrid into `tmpZ`, and the new IO is tripping up because the grid is an unexpected shape, is that right?

Is it possible to just read in the local segment as ungridded data and then fill in the `tmp*` variables?

[2020-03-23 21:37] wrongkindofdoctor commented on #346
@marshallward Correct. I can read in the segment instead of the whole array since the new IO handles start and count arguments, but I'll probably need help getting the indexing correct. Stay tuned.

[2020-03-24 15:54] GFDL-Eric commented on #353
@bensonr @underwoo any thoughts on which direction to take?

[2020-03-24 16:00] underwoo commented on #353
I'm looking at this now.  I believe I have a solution.  I'll let you know when my tests are complete.

[2020-03-24 16:17] underwoo commented on #353
I have a fix for the Cray compiler check for the cray pointer.  However, due to the Cray compiler naming all modulefiles with capital letters: e.g. `MPP_DOMAINS_MOD.mod`, the autotools Makefile rebuilds all source since it cannot find a compiled module file.

I'll get a push with the initial fix for the cray pointer with CCE.

[2020-03-25 16:53] edwardhartnett opened #356 "master fails make check in fms2_io with "test_atmosphere_io.sh - missing test plan""
When I check out current master and build, make check fails.

I am building like this:

`FC=mpifort CC=mpicc CPPFLAGS="-I/usr/local/netcdf-c-4.7.4-development_hdf5-1.10.6_mpich/include -I/usr/local/netcdf-fortran-4.5.3-development_netcdf-c-4.7.4_mpich/include" FCFLAGS="-I/usr/local/netcdf-c-4.7.4-development_hdf5-1.10.6_mpich/include -I/usr/local/netcdf-fortran-4.5.3-development_netcdf-c-4.7.4_mpi

[2020-03-25 17:08] colingladueNOAA opened #357 "Fix skipped mpp_pset tests"
**Describe the bug**
The tests in test_mpp_pset2.sh are skipped, and when not skipped, may raise errors.

**To Reproduce**
Run make check of FMS after removing the skip command from test_mpp_pset2.sh.

**Expected behavior**
Unit tests should run as intended and pass.

**System Environment**

**Additional context**

[2020-03-25 18:16] wrongkindofdoctor commented on #356
This test is expected to break for now, but I'm not sure about the error message. I'll get a 'skip' in there for the test.

[2020-03-25 18:23] edwardhartnett opened #358 "Remove use of BATS in fms_io2 testing"
Some time ago, with the approval of @underwoo , I removed the use of the BATS utility in FMS testing. This was done because BATS is an unusual dependency, which caused a lot of configure problems for very little benefit. See #221

However, I notice bats is still being used in the fms_io2 directory.

Shall I remove bats from there as well?

[2020-03-25 18:24] colingladueNOAA commented on #356
I am having a similar problem.

This seems to be the only testing directory with bats files and the only that doesn't use an input_base.nml, which may contribute to my error upon make distcheck:
make[3]: stat: input.nml: Too many levels of symbolic links
make[3]: *** No rule to make target `input.nml', needed by `distdir'.  Stop.

It appears to me that PR #280  does a good job remedying those conc

[2020-03-25 18:27] menzel-gfdl commented on #356
Is there any reason not to accept #280?

[2020-03-25 18:27] bensonr opened #359 "fms2_io files missing license header"
**Describe the bug**
Newly created fms2_io files are missing the LGPL  license header block.

**To Reproduce**
N/A

**Expected behavior**
FMS LGPL header block included in all files.

**System Environment**
N/A

**Additional context**
Please check all files to ensure the license header block is present.

[2020-03-25 18:27] colingladueNOAA commented on #358
I believe @wrongkindofdoctor is working on this in PR #280 .

[2020-03-25 18:33] edwardhartnett commented on #356
@wrongkindofdoctor perhaps you are getting a different output because you have bats installed and I don't?  So for you the test skips, and for me it fails. ;-)

[2020-03-25 19:18] colingladueNOAA commented on #359
Would you like every file in the FMS/test_fms/fms2_io/ directory to have the header, or only certain file extensions?

[2020-03-25 19:53] bensonr commented on #359
Every source file (.h, .inc, .F90, etc) should have the header.  I think the rest of the repository is clean, but please double-check.

[2020-03-26 17:49] colingladueNOAA opened #361 "Create a stack trace where FATAL is called in mpp_error"
**Is your feature request related to a problem? Please describe.**
Yes. This would help in diagnosing fixes to fms2_io.

**Describe the solution you'd like**
Create a stack trace where FATAL is called in mpp_error

**Describe alternatives you've considered**

**Additional context**

[2020-03-26 19:03] nikizadehgfdl opened #362 "FMS2 send_data crashes when ocean has mask_table, NetCDF: Index exceeds dimension bound"
**Describe the bug**
When we use a mask_table for the ocean the model crashes like this:
[code]

**To Reproduce**
Run either ESM4 or OMIP experiment that uses a mask_table for the ocean.

**Expected behavior**
Here are the stdouts for the same ocean layout with and without a mask_table

crash with mask_table
[code]
Expected without mask_table
[code]
**System Environment**
Describe the system envir

[2020-03-27 14:01] thomas-robinson commented on #362
@nikizadehgfdl are you looking into the details of this, or do you need me/ @ngs333 / @menzel-gfdl to look into this as well?

[2020-03-27 17:04] nikizadehgfdl commented on #362
@uramirez8707 offered and is working on this issue.

[2020-03-27 18:34] #226 closed

[2020-03-27 19:17] #359 closed

[2020-03-27 20:25] #350 closed

[2020-03-27 20:38] #353 closed

[2020-03-28 03:01] #361 closed

[2020-03-31 15:11] colingladueNOAA opened #366 "Repetitive #ifdef statements in FMS repo"
**Describe the bug**
There are at least 3 #ifdef testing statements in FMS, that should be removed as their function is now handled in test FMS. These #ifdefs can be found in:
axis_utils_mod2.F90
mosaic2.F90
time_interp_external2.F90
drifters.F90
interpolator.F90
horiz_interp.F90

**To Reproduce**
N/A

**Expected behavior**
No duplicate code.

**System Environment**

[2020-03-31 16:08] thomas-robinson commented on #366
@colingladueNOAA can you list all of the files whose tests you removed.

[2020-03-31 17:03] uramirez8707 commented on #362
@thomas-robinson @nikizadehgfdl @menzel-gfdl
After getting through the error, I can reproduce the Xanadu restarts, but I am getting differences in the **some** of the history files.

For example, for `19480101.ocean_Agulhas_section.nc`, I get these differences using nccmp (it only displays the first difference for each variable)
[code]
The first value is the xanadu answers, the second is the answe

[2020-03-31 17:10] thomas-robinson commented on #362
Is this the only point that is giving an error?  I'm curious if this happens for all points or just a few points.  How many vertical levels are there?  (0,0,16,0) seems like it's consistent across all of the variables.  Are they all using the same axes?  Is it all of the points on the edge of the mask?  Can you plot the data and see how different it looks?

[2020-03-31 17:19] nikizadehgfdl commented on #362
These are the notorious regional (ocean choke points) diagnostics that Tom worked on before.

[2020-03-31 17:34] uramirez8707 commented on #362
This is not for all points, but (0,0,16,0) is not the only point. In fact, it is different for (:, :, 16:129,:) Note that the indices are outputted this way: `volcello(time, z_l, yh_sub01, xh_sub01)`

[code]

No, but the third indices `yh_sub01` is the same for all.

[code]

No sure where they are relative to the mask.

[2020-04-01 10:08] thomas-robinson commented on #362
If you make a diag table with one variable, you can put it in the debugger, stop where the write is called, and check the data to see what's happening.

Are these regional diagnostics?  Can you run without combining the output and then do the nccmp?

[2020-04-01 14:24] uramirez8707 commented on #362
These are regional diagnostics. @menzel-gfdl has a fix for the `NetCDF: Index exceeds dimension bound` crash

I simplified the diag_table to only write `volcello`. I ran it interactively with xanadu and current code + Ray's fix. This creates 8 files: `19480101.ocean_Agulhas_section.nc.XXXX`.

**For Xanadu Code:**
In each file the `yh_sub01` is equal to {16,18,18,18,18,18,18,8}
(which totals 132)

[2020-04-01 15:02] thomas-robinson commented on #362
@uramirez8707 can you give us instructions on how to reproduce the problem?

[2020-04-01 18:04] uramirez8707 commented on #362
[code]
cd to your FMS src directory to get the code with the fix to the other issue:
[code]
This is a reference tar from xanadu:
/lustre/f2/scratch/gfdl/Uriel.Ramirez/master_20200123_mom6_2019.08.08/OM4p5_CORE2_IAF_COBALT_abio_csf_mle200/ncrc3.intel16-prod/archive/1x0m2d_442x1o/history/19480101.nc.tar

————————————
This is my work dir, fms_debug.x is the executable with current code and fms_debug_

[2020-04-01 19:53] #356 closed

[2020-04-01 19:53] #358 closed

[2020-04-01 20:29] edwardhartnett opened #368 "Makefile.am use of $(OBJEXT) in dependencies to libtool libraries should be .lo instead"
Currently in our Makefile.am files we have stuff like this:

[code]
However, I have recently learned from work on netcdf-fortran that this is not quite correct and may cause problems on parallel builds (by parallel I mean make -j, not parallel I/O).

Instead, we should be using .lo

This is well explained by netCDF user @skosukhin in this netcdf-fortran PR: https://github.com/Unidata/netcdf-fortra

[2020-04-02 11:44] thomas-robinson commented on #362
@uramirez8707 this experiment doesn't have any diagnostics.  What was the diag table for your run with the single regional diagnostic?

[2020-04-02 13:25] uramirez8707 commented on #362
/lustre/f2/scratch/Uriel.Ramirez/work/FMS2020.01_mom6_ESM4_v1.0.3/OM4p5_CORE2_IAF_COBALT_abio_csf_mle200_1x0m2d_442x1o1.o202963317/diag_table

[2020-04-02 13:44] edwardhartnett opened #370 "Environmental vars use_LARGEFILE and MAXFIELDMETHODS should be set by configure, not on command line"
The Travis tests do this:

`export CPPFLAGS="-I/usr/include -Duse_LARGEFILE -DMAXFIELDMETHODS_=500"`

We don't want to set important variables on the command line. That is impossibly opaque to users.

Instead, we set them with configure. We can do this by choosing a default value, and letting the user over-ride the default if they want. That way, users get a useful build without pouring over the d

[2020-04-02 14:04] edwardhartnett commented on #370
Also, what is the purpose of use_LARGEFILE?

I see that it is used only in mpp/include/mpp_io_connect.inc:

[code]

When I look there, I see that use_LARGEFILE seems to indicate that 64bit_offset format be used for the netCDF files.

You may consider adding support for CDF5, a format similar to 64-bit offset, but without the size limitations. Or NC_NETCDF4, which would also allow you to use compre

[2020-04-02 14:08] edwardhartnett commented on #370
Investigating MAXFIELDMETHODS_ I see:

[code]

So MAXFIELDMETHODS_ sets the Fortran parameter MAX_FIELD_METHODS, which is then used in many places.

[2020-04-02 14:10] edwardhartnett commented on #359
@bensonr should this apply to the Makefile.am files? If so I can add these while doing some other changes...

[2020-04-02 14:11] edwardhartnett commented on #368
OK, actually I did do this in one PR, currently submitted.

[2020-04-02 18:27] thomas-robinson opened #371 "Adding NC_CHKSZ to fms2_io"
**Is your feature request related to a problem? Please describe.**
mpp_io reads an environment variable called NC_CHKSZ and is used as the buffer size for the file.  This is not implemented in fms2_io

**Describe the solution you'd like**
There should be a user defined chunk size in a namelist for fms2_io

**Describe alternatives you've considered**
We could continue to read the environment variab

[2020-04-06 16:38] thomas-robinson opened #373 "Removing _ALLOCATABLE macro"
**Is your feature request related to a problem? Please describe.**
We live in 2020, so it's time to use `allocatable` instead of pointers for allocating memory on the heap

**Describe the solution you'd like**
Substitute `allocatable` for `_ALLOCATABLE`, a blank for `_NULL`, and `allocated` for `_ALLOCATED`

**Describe alternatives you've considered**
The alternative should not be considered

**Ad

[2020-04-06 18:02] underwoo commented on #370
There  is no need to codify changing MAX_FIELD_METHODS.  It getting added to the test is a legacy item.  The new GitHub actions version does not include this.  In most cases, if MAX_FIELD_METHODS needs to be increased, we will increase it in the code.  This macro is a way to allow tests to be done on large diag_table files.

The use_LARGEFILE _may_ be something to enable via configure.  We should

[2020-04-08 13:48] thomas-robinson opened #375 "Removing fms_platform.h from diag_manager modules"
**Is your feature request related to a problem? Please describe.**
When there is a bug in the diag manager, the debugger has issues with providing the correct lines/line numbers because of the `#include <fms_platforms.h>` line at the top of the files.

**Describe the solution you'd like**
Replacing `#include <fms_platforms.h>` with `use platform_mod` and replacing macros INT_KIND, FLOAT_KIND, and

[2020-04-08 14:47] bensonr commented on #359
Sorry for the late reply, I was waiting for one of the maintainers to
return from leave to provide consensus.  We'd like all files to have a
license header are in the process of finding and fixing those that
currently don't have one.

[2020-04-08 15:17] edwardhartnett commented on #359
OK, sounds good. We all have to please the lawyers in our lives...

[2020-04-08 21:09] colingladueNOAA opened #378 "More files need LGPL headers"
**Is your feature request related to a problem? Please describe.**
Need to add LGPL headers to makefiles and others that were previously missed.

**Describe the solution you'd like**
LGPL headers added.

**Describe alternatives you've considered**
None

**Additional context**

[2020-04-09 22:17] bensonr commented on #378
@colingladueNOAA can you add the license header block into the fortran example in the CODE_STYLE.md file

[2020-04-09 23:33] colingladueNOAA commented on #378
Absolutely.

[2020-04-10 16:47] thomas-robinson commented on #304
@colingladueNOAA have you worked on this at all?

[2020-04-10 16:51] colingladueNOAA commented on #304
I have not. I can start if you'd like.

[2020-04-10 16:51] thomas-robinson commented on #304
@ngs333 is starting to work on it I think, so it's alright.  I just don't want you guys to both do the same thing.

[2020-04-10 18:21] underwoo opened #379 "Travis CI tests do not show output when the tests fail"
**Describe the bug**
The tests run on travis CI do not show the output of the tests when they fail.  This makes it difficult to discover the reason for the failure.  Currently to discover the reason, we would need to build the code on a different system.  At times, reproducing the failure is not possible (as it could be a system software issue and not a code issue).  It would be good if the Travis

[2020-04-10 18:23] underwoo commented on #379
Doing some research, I discovered that setting the environment variable `VERBOSE` will have `make check` echo the test log files to the screen.  Hopefully, doing this will be enough to get the output desired.  In my tests on my systems, this appears to work as desired.  Hopefully, Travis CI will work the same.  Unfortunately, testing this if the tests pass is not possible.  I'll leave it up to oth

[2020-04-10 18:37] thomas-robinson commented on #362
@uramirez8707 Can you set up a new issue for the regional diagnostics?

[2020-04-10 18:46] thomas-robinson opened #381 "mpp_chksum does not work for all types"
**Describe the bug**
 [mpp_chksum](https://github.com/NOAA-GFDL/FMS/blob/master/mpp/mpp.F90#L1227) is an interface that has an `#ifdef OVERLOAD_R4` in it.  This does not allow users to do mpp_chksum for `real(kind=4)` if they compile with a flag to make the default for `real`s `real(kind=8)`

**To Reproduce**
Try to call mpp_chksum with a real*4 not compiling with the -DOVERLOAD_R4 flag.

**Expect

[2020-04-10 18:47] thomas-robinson commented on #381
@uramirez8707 and @menzel-gfdl can you look at this issue and make sure I have the details correct.  Please add any additional context that you can think of.

[2020-04-13 15:28] #378 closed

[2020-04-13 15:40] #379 closed

[2020-04-13 15:54] #366 closed

[2020-04-13 16:29] laurenchilutti opened #382 "Remove subroutine system_clock_sgi from mpp/include/system_clock.h"
**Is your question related to a problem? Please describe.**
The subroutine `system_clock_sgi` needs to be removed from mpp/include/system_clock.h as the OS to which it refers is no longer in use.

**Describe what you have tried**
We need to remove the subroutine `system_clock_sgi` and update the `#ifdef` logic in system_clock.h

[2020-04-13 16:50] #368 closed

[2020-04-13 16:52] colingladueNOAA commented on #382
Does this need to be replaced or simply removed?

[2020-04-13 16:53] laurenchilutti commented on #382
Just removed.

[2020-04-13 16:56] laurenchilutti commented on #382
@colingladueNOAA could you assign this to me?  I do not know how to.

[2020-04-13 17:02] colingladueNOAA commented on #382
Yes. It's all yours now.

[2020-04-13 17:03] #347 closed

[2020-04-13 17:19] #375 closed

[2020-04-13 17:19] #373 closed

[2020-04-13 17:41] #362 closed

[2020-04-13 19:40] uramirez8707 opened #383 "Axis for regional diagnostics are not written correctly"
**Describe the bug**
The axis for regional diagnostics are not written correctly.
Each of the cores that are writing the regional diagnostics are writing the whole region instead of their own chunk.

**To Reproduce**
Run @nikizadehgfdl  OMIP run with 442 cores and regional diagnostics.

The regional variable `volcello` is written by 8 cores, each core writes their own file (`19480101.ocean_Agulhas

[2020-04-13 19:41] uramirez8707 commented on #383
@ngs333

[2020-04-14 20:07] menzel-gfdl opened #384 "Fms2 I/O crash in interpolator.F90"
**Describe the bug**
About 10 months into a year-long run of the `c96L33_am4p0` experiment, the model crashed
using `fms2_io` with the following errors:
[code]
with backtrace:
[code]

**To Reproduce**
This was seen with a custom version of `AM4`, built to include the new radiation scheme `RTE-RRTMGP`.  This error does not appear to be related to the radiation, though.  All repositories
except for

[2020-04-14 21:05] nikizadehgfdl commented on #384
I do not get FATAL  in AM4p1 , instead I get a SIGTERM with a different stack (see below).
So, the crash mode is different from yours, probably because you don't have tropchem?
Also, I have only seen this for the least number of pes (216), it goes away when I use 432 pes.

[code]

[2020-04-15 15:53] ngs333 commented on #383
Diag_manager seems to purposefully use the global axis length instead of the sub-axis length. Not sure why but it may be part of the design.

Running through the debugger for the experiments described by  uramirez8707 in comments above, in file diag_output.F90, function write_axis_metadata is where the start and end of the axis is determined. More specifically,
Lines 386 -  389 are executed, these

[2020-04-16 19:15] uramirez8707 opened #386 "Error compiling with autotools on GAEA"
**Describe the bug**
If I compile current master in GAEA with autotools, I get this error:
[code]

**To Reproduce**

On GAEA:
[code]

**Expected behavior**
FMS should compile

**System Environment**
Describe the system environment, include:
See above

**Additional context**
Not sure why this is only an issue in GAEA and not travis or skylake ... ?

[2020-04-17 03:41] bensonr opened #389 "Update constants.F90 to support SHiELD development"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Updated constants/constants.F90 logic by moving small_frac options outside of current ifdef/endif pair.  Apply small_frac variable to radius and omega parameters in GFS_PHYS versions of constants.

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-04-17 13:53] wrongkindofdoctor opened #390 "Netcdf error when compiling FMS 2020.02-beta2 tag on gaea"
**Describe the bug**
Compiling FMS  as part of the AM4 test suite with the 2020.02-beta2 tag on gaea using FRE produces the following error:

`/lustre/f2/dev/$USER/awg_timings_2020.01/src/FMS/fms2_io/netcdf_io.F90(26): error #7013: This module file was not generated by any release of this compiler.   [NETCDF]
use netcdf`

**To Reproduce**
[code]
Then run the resulting build script.

**Expected beh

[2020-04-17 15:47] uramirez8707 commented on #390
you can just do
[code]

[2020-04-17 16:20] uramirez8707 commented on #390
@wrongkindofdoctor actually not anymore, fre/test is only usable in cle7/t4 now (as of this morning ... )

so you will have to change the xml to use bronx-16
` <property name="FRE_VERSION" value=bronx-16`

and do `module load fre/bronx-16`

[2020-04-17 16:45] thomas-robinson opened #391 "diag_manager writing a default fill value when there is no data"
**Is your feature request related to a problem? Please describe.**
The diag_manager outputs a NETCDF default fill value if a buffer is to be written without being initialized.  The buffer is initialized with this value.  This happens when running a GFDL model for 0 days.

**Describe the solution you'd like**
Up for debate is what should happen in the case.  Should there be no file?  If the missing

[2020-04-17 18:04] #386 closed

[2020-04-17 18:20] wrongkindofdoctor commented on #390
Sweet! Glad this was an easy one to solve. Thanks @uramirez8707.

[2020-04-17 18:20] #390 closed

[2020-04-17 19:07] #389 closed

[2020-04-17 19:09] thomas-robinson commented on #383
In diag_output.F90 at line 386:
[code]
Then you don't need to set istart and iend.  Go right into `register_field`

[2020-04-17 19:13] thomas-robinson commented on #383
@uramirez8707 Do you have the correct output saved for comparison (Combined and uncombined)?

[2020-04-17 19:28] uramirez8707 commented on #383
@ngs333

The uncombined files:
/lustre/f2/scratch/gfdl/Uriel.Ramirez/work/FMS2020.01_mom6_ESM4_v1.0.3/OM4p5_CORE2_IAF_COBALT_abio_csf_mle200_1x0m2d_442x1o1.o202963317/REF_HISTORY/

I think this is for a debug run.

This is a combined one (with all the diagnostics), but I only have one for a prod run ...
/lustre/f2/scratch/gfdl/Uriel.Ramirez/master_20200123_mom6_2019.08.08/OM4p5_CORE2_IAF_COBALT_ab

[2020-04-17 23:53] thomas-robinson commented on #383
@nikizadehgfdl and @uramirez8707 There is a crash when running in debug mode:
[code]

This seems unrelated to anything related to the diag manager.  Do either of you know what we can do about this (other than compile in prod)?

[2020-04-20 03:18] thomas-robinson commented on #383
11:10pm on Sunday night.  Yay...

This XML does not run in debug mode.  That makes debugging a lot of fun.

Here is my understanding of the problem which I don't think I have the knowledge to solve in 1 day:

1. When a `subaxis` is set up in the diag_manager, a 2D domain is set up with it also. This 2D domain does not have an IO domain.
2. There are two options to open a file in fms2_io: with a do

[2020-04-20 04:50] thomas-robinson commented on #383
ok, 12:46am.  I figured it out.  Instead of
[code]
you have to do a little math to get the indices correct:
[code]

This should produce the correct output.  @ngs333 is going to test it, and then put in the PR.

[2020-04-21 14:43] #383 closed

[2020-04-21 14:56] #371 closed

[2020-04-21 18:36] thomas-robinson commented on #336
@colingladueNOAA don't forget to do this

[2020-04-21 18:43] colingladueNOAA commented on #336
Could anyone direct me to the git repository for the wiki so I can create this?

[2020-04-23 14:15] uramirez8707 opened #394 "Fms2io does not add a 16KB pad to the header size"
**Is your feature request related to a problem? Please describe.**
Fms2io does not add a 16KB pad to the header size. This may cause "issues" in post processing. If you change attributes past the size of the headers, the file will have to be rewritten.

**Describe the solution you'd like**
Fms2io should add a 16KB pad (or a different size, or as a namelist ?) to the header to avoid this.

**Descri

[2020-04-23 14:20] uramirez8707 opened #396 "Write_restart changes between writing meta_data and data"
**Describe the bug**
I created a unit test that writes a restart using fms2io's `write_restart` and analysed it with Darshan. Results showed fms2io was writing twice the number of bytes as the actual size of the file and as fmsio. Part of the problem is because write_restarts changes between writing data and writing meta_data (the checksums)

See [here](https://github.com/NOAA-GFDL/FMS/blob/e6fd03

[2020-04-27 21:43] GFDL-Eric opened #399 "MPP function get_ascii_file_num_lines returns wrong value"
**Describe the bug**
The MPP function get_ascii_file_num_lines returns a value that is one higher than the number of lines in the file. E.g. if there are 3 lines in an ASCII file, the function will return the value 4.

**To Reproduce**
Call the MPP function get_ascii_file_num_lines on an ASCII file with a known number of lines. E.g. run this sample program:

[code]

Contents of `ascii_5` file:
[co

[2020-04-29 18:35] colingladueNOAA opened #403 "Configure.ac needs to be updated at time of release"
**Is your feature request related to a problem? Please describe.**
Configure.ac needs to be updated at time of release to 2020.02

**Describe the solution you'd like**
Update the configure.ac file

**Describe alternatives you've considered**
None

**Additional context**

[2020-04-29 19:56] uramirez8707 opened #404 "Interpolator opening a file A LOT of times"
**Describe the bug**
I ran AM4.1 (2 day run with 216 cores on C4) and I used Darshan to analyze performance.

Based on Darshan, interpolator is opening a file a ridiculous amount of times, and interpolator in 2020.02.beta2 is **a lot** worse.
For example, for the file `depvel_gc_am3_tran.nc`
In **Xandu** code:
[code]
It looks like it is opened for every PE twice ...

But, in **2020.02.beta3** code

[2020-04-29 20:48] colingladueNOAA opened #406 "Update version number in Makefile.am"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a necessary step.

**Describe the solution you'd like**
To increment the version number by 1.

**Describe alternatives you've considered**
None.

**Additional context**

[2020-04-29 22:55] nikizadehgfdl opened #409 "regional diagnostics are different when using Ocean mask_table"
**Describe the bug**
Updating FMS and FMScoupler to 2020.02-beta3 caused the ocean regional diagnostics be different when using a mask_table from none mask_table version. The region is different (has smaller longitudinal extent with the mask_table).
The number of diag_axis are different!

[code]
Honestly, I don't know what the  xh_sub01 value should be. But the region looks totally different.

Not

[2020-04-30 15:35] thomas-robinson commented on #409
@nikizadehgfdl
1. This is only an issue for the mask table?
2. How can we determine which is correct?  Is part of the data being masked out?

[2020-04-30 19:48] colingladueNOAA opened #411 "CHANGELOG.md needs to be updated for 2020.02 release."
**Is your feature request related to a problem? Please describe.**
CHANGELOG.md needs to be updated for 2020.02 release.

**Describe the solution you'd like**
Update the CHANGELOG.md to match the release notes doc. Also include testing tag commit hashes.

**Describe alternatives you've considered**
None

**Additional context**

[2020-05-01 18:24] #411 closed

[2020-05-01 18:37] #406 closed

[2020-05-01 18:44] #403 closed

[2020-05-01 19:55] colingladueNOAA opened #413 "Update configure.ac to version -dev"
**Is your feature request related to a problem? Please describe.**
Need to update configure.ac to version -dev.

**Describe the solution you'd like**
Update configure.ac to version -dev.

**Describe alternatives you've considered**
None

**Additional context**

[2020-05-04 19:29] bensonr opened #414 "Urgent update needed for fv3gfs/makefile"
**Describe the bug**
[fv3gfs/makefile](https://github.com/NOAA-GFDL/FMS/blob/2020.02/fv3gfs/makefile) does not contain all of the new files created for the fms2-io updates

**To Reproduce**
N/A

**Expected behavior**
N/A

**System Environment**
N/A

**Additional context**
Add any other context about the problem.  If applicable, include where any files
that help describe, or reproduce the problem e

[2020-05-05 14:36] #414 closed

[2020-05-05 14:49] bensonr opened #416 "urgent update needed to 2020.02 for fv3gfs/make.rules"
**Describe the bug**
The wrong comment character delimiter was used when adding the license header.
Added fms2_io/include to the include search list.

**To Reproduce**
N/A

**Expected behavior**
Make using the updated file will not fail with "missing separator"

**System Environment**
All

**Additional context**
N/A

[2020-05-05 14:52] colingladueNOAA commented on #416
Does this need to be patched in as well?

[2020-05-05 15:07] bensonr commented on #416
Unfortunately, yes it does.

[2020-05-05 15:24] #416 closed

[2020-05-07 19:44] uramirez8707 opened #418 "Interpolator compiler warnings"
**Describe the bug**
If I compile FMS and turn on all the warnings :) I get the following warnings when it is compiling interpolator.
[code]
**To Reproduce**
compile FMS with the `-warn all` flag

**Expected behavior**
We shouldn't get any warnings, especially is they are easy to solve.

**System Environment**
Describe the system environment, include:
This happens in any system

**Additional conte

[2020-05-13 21:27] colingladueNOAA opened #421 "Need read_input_nml unit test"
**Is your feature request related to a problem? Please describe.**
Need read_input_nml unit test to be written

**Describe the solution you'd like**
A unit test for read_input_nml

**Describe alternatives you've considered**
None

**Additional context**

[2020-05-14 16:29] colingladueNOAA commented on #421
We decided to not make issues for every mpp unit test. We will track the progress of these test writes on the project board MPP Unit Tests.

[2020-05-14 16:29] #421 closed

[2020-05-14 18:19] wrongkindofdoctor opened #422 "Need a unit test for peset and expand_peset"
**Is your feature request related to a problem? Please describe.**
FMS needs a unit test for the `peset` and `expand_peset` routines in mpp.

**Describe the solution you'd like**
The test will indirectly verify functionality of the via call(s) to `mpp_sync` and/or `mpp_sync_self`, since `peset` and `expand_peset` are not public routines.
**Describe alternatives you've considered**
N/A
**Additional

[2020-05-15 14:48] uramirez8707 opened #425 "FMS2io sets default file format as NC_FORMAT_64BIT"
**Is your feature request related to a problem? Please describe.**
FMS2io sets the default file format as `NC_FORMAT_64BIT` and the only way to change it is with code changes, which is not very flexible ...

**Describe the solution you'd like**
The file format should be set as a namelist parameter or some other way.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-05-15 15:01] 7BF794B0 opened #426 "FMS compilation error with glibc >= 2.30."
**Describe the bug**
FMS compilation error with glibc >= 2.30.

**To Reproduce**
To start:
[code]
After that open the file src/mkmf/templates/linux-gnu.mk and find the variable LIBS. In this file add the syntax:
[code]
Compiling:
[code]
Error:
[code]

**Expected behavior**
Successful compilation libfms.a

**System Environment**
- OS: `Linux ubuntu 5.4.0-29-generic #33-Ubuntu SMP Wed Apr 29 14:32:2

[2020-05-15 16:43] marshallward commented on #426
Hi @7BF794B0 I believe this may have been resolved (see #276 and #196), but the MOM6-examples repos are still pointing to an older version of FMS which does not include this fix.

You can look at some temporary solutions in those issues (easiest is to just delete the `static` keyword in front of `gettid`) but we should fix this in the MOM6-examples side.

[2020-05-18 15:31] menzel-gfdl commented on #425
Also, update `nf90_hdf5` to `nf90_netcdf4` since `nf90_hdf5` is deprecated.

[2020-05-18 19:12] nikizadehgfdl commented on #409
Here are the locations of uncombined history files:
[code]
Indeed it looks like uncombined regional files are consistent between masked and non-masked runs as @menzel-gfdl  suggested.

So, this might be an issue with mppnccombine needing an update to work with fms2 regional diagnostics. mppnccombine could be confused about sub-axis feature of fms2 ?

This might be related to issue #87 of xanadu.

[2020-05-21 16:55] #422 closed

[2020-05-22 19:27] menzel-gfdl opened #430 "Performance degradation for large variables in FMS2 I/O domain-decomposed writes."
**Describe the bug**
FMS2 I/O domain-decomposed writes perform poorly with increased netCDF variable sizes and MPI rank counts.

**To Reproduce**
Build a model with `FMS 2020.02`.  Run the model and include large (>= 10 megabyte) variables in the `diag_table`.

**Expected behavior**
We expect similar performance to MPP I/O domain-decomposed writes for similarly sized variables and MPI rank counts.

[2020-05-27 22:09] edwardhartnett opened #432 "Plan for a CMake build?"
Is there a plan for a CMake build? If so, what's the status?

Right now the ufs_weather_model has a cmake build that builds FMS, but its failing for me.

[2020-05-29 09:28] edwardhartnett commented on #432
An alternative, which may work better, is that we (i.e. the NOAA weather models) can just use the autotools build for FMS. That way, we benefit from your maintenance of the package. (As it is now, we must maintain a build system that tracks your build system - not a good long-term solution.)

[2020-05-29 13:58] edwardhartnett commented on #432
OK, I am going to close this issue. You don't need a CMake build to meet NOAA needs, we can use the existing (and wonderful) autotools build. And that is what we are now planning on doing.

[2020-05-29 13:58] #432 closed

[2020-05-29 14:00] edwardhartnett commented on #432
See the discussion in #276 for an excellent example of why the existing, well-maintained autotools system should be used.

[2020-05-29 14:13] thomas-robinson commented on #432
@edhartnett we are working on a cmake build.  The goal is to have both options available.

[2020-05-29 14:56] edwardhartnett commented on #432
Excellent. Best of luck!! ;-)

We do that for netcdf-c and netcdf-fortran. The trick of course is to ensure that everything you are setting in config.h, you also set in the CMake build. The way netcdf-c does it is with a separate conflgi.h.cake.in which gets turned into config.h for CMake builds, as well, of course as config.h.in which becomes config.h for autotools builds.

The other big differen